.circle {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    -webkit-transition: 1.3s;
    transition: 1.3s;
    width: 75vh;
    height: 75vh;
    right: -62vh;
    /* top: calc(50vh - 33vh); */
    z-index: 109;
    top: 5vh;
}

.circle .dot:hover {
    cursor: none !important;
}

.circle .dot {
    cursor: none !important;
    -webkit-transform-origin: calc(100% - 5px) 50%;
    -moz-transform-origin: calc(100% - 5px) 50%;
    -o-transform-origin: calc(100% - 5px) 50%;
    -ms-transform-origin: calc(100% - 5px) 50%;
    transform-origin: calc(100% - 5px) 50%;
    -webkit-transition: 1.3s;
    transition: 1.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    cursor: pointer;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.3);
}

.circle .dot .after {
    margin-top: 1px;
    width: 10px;
    height: 10px;
    display: block;
    margin-left: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.3;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.circle .dot.active {
    color: #FFFFFF;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.circle .dot.active .after {
    opacity: 1;
    background: #E37430;
    border: 1px solid #FFFFFF;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

.client-map-btn {
    visibility: visible;
}

@media screen and (max-width: 768px) {
    

    .circle {
        width: 1360px;
        height: 1360px;
        right: -64vh;
        border: 0;
        top: 72vh;
        display: none;
    }

    .circle .dot {
        flex-direction: column;
    }

    .circle .dot .dot-name {
        order: 2;
        font-size: 14px;
    }

    .client-map-btn {
        display: block;
    }

    .circle .dot .after {
        width: 20px;
        height: 20px;
    }
}