@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Regular.ttf) format('truetype'), url(../fonts/ProximaNova-Regular.woff) format('woff'), url(../fonts/ProximaNova-Regular.woff2) format('woff2'), url(../fonts/ProximaNova-Regular.eot) format('eot');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Bold.ttf) format('truetype'), url(../fonts/ProximaNova-Bold.woff) format('woff'), url(../fonts/ProximaNova-Regular.woff2) format('woff2'), url(../fonts/ProximaNova-Bold.eot) format('eot');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Light.ttf) format('truetype'), url(../fonts/ProximaNova-Light.woff) format('woff'), url(../fonts/ProximaNova-Light.woff2) format('woff2'), url(../fonts/ProximaNova-Light.eot) format('eot');
    font-style: normal;
    font-weight: 600;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    background: rgb(0, 78, 134);
}

img {
    max-width: 80%;
}

h1 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

/* main {
} */

.container {
    width: 90%;
    margin: 0 auto;
}

/* Custom scrollbar */

.flexscroll {
    scrollbar-face-color: orange;
    scrollbar-shadow-color: green;
    scrollbar-highlight-color: yellow;
    scrollbar-3dlight-color: purple;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

.flexscroll::-webkit-scrollbar {
    width: 3px;
}

.flexscroll::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.flexscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #FF6400;
}

.intro {
    padding: 1em 0;
}

.intro .container {
    max-width: 380px;
}

.page-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

/* Breadcrumb navigation */

#breadcrumbs {
    display: flex;
}

.crumb {
    margin: 0.4em 0.1em;
    width: 70%;
    transition: background 0.3s;
    transform: skew(30deg);
    background: #196EA9;
}

.crumb a {
    color: white;
    display: block;
    text-align: center;
    padding: 0.6em 0;
    transform: skew(-30deg);
}

.crumb:nth-of-type(3) {
    background: #3C8DC6;
}

/* Equipment tabs */

/* Equipment Description */
.equipment-description {
    flex-direction: column;
    display: none;
}

.equipment-description.active {
    display: flex;
}

.equipment-text {
    max-height: 120px;
    overflow-y: scroll;
    order: 1;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.equipment-showcase img,
.equipment-related img {
    background: radial-gradient(ellipse at center, #03416C, transparent 65%);
}

.equipment-showcase .dots {
    text-align: center;
}

.equipment-showcase .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid rgba(243, 243, 243, 0.644);
    margin: 0.2em;
}

.equipment-showcase .dot.active {
    background-color: #E37430;
}

.tabs-head {
    text-align: center;
    margin-bottom: 2.5em;
    position: relative;
}

.tabs-head::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: 9px;
    background-color: #196EA9;
}

.tabs-head button {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 1;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0.5em 0;
    margin-left: 1em;
}

.tabs-head button.active {
    color: white;
}

.tabs-head button.active::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: 14px;
    background-color: #FF6400;
}

.tabs-body::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #4196D1;
    margin-top: 1em;
}

table {
    width: 90%;
    border-spacing: 0 0.5em;
    border-collapse: collapse;
}

table tbody {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

table tbody tr {
    border-bottom: 2px solid #196EA9;
    line-height: 4;
}

/* Equipment characteristics */

.equipment-characteristics {
    margin-bottom: 2em;
    max-height: 200px;
    overflow-y: scroll;
    display: none;
}

.equipment-characteristics.active {
    display: block;
}

/* Equipment Documentation */

.equipment-documentation {
    display: none;
    max-width: 800px;
    max-height: 250px;
    overflow-y: scroll;
    justify-content: space-between;
    flex-direction: column;
}

.equipment-documentation.active {
    display: flex;
}

.document-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.document-group img {
    width: 25px;
    height: 32px;
    vertical-align: middle;
    margin-right: 1em;
}

.document-group a {
    color: white;
}

.document {
    margin-bottom: 1em;
    display: flex;
}

/* Equipment related */

.equipment-related {
    padding: 1em 0;
}

.equipment-related h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0;
}

.equipment-related ul li {
    margin: 0 auto;
    text-align: left;
    width: 230px !important;
    /* padding: 1.5em 1em; */
    /* position: relative; */
}

.equipment-related .slider {
    width: 230px;
    margin: 0 auto;
}

.equipment-related .box {
    padding: 1em;
    margin-bottom: 0.6em;
    position: relative;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
}

.equipment-related .box::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, white 15%, transparent 35%, transparent 65%, white 100%);
}

.equipment-related .box::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, white 15%, transparent 35%, transparent 65%, white 100%);
}

.equipment-related .box img {
    max-width: 200px;
}


.equipment-related-name {
    text-transform: uppercase;
}

/* Slider */

.slider-container {
    text-align: center;
}

.slider-container .slider-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #0D5F98;
    border: 1px solid #449FDE;
    padding: 0.5em 0.7em 0.3em;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.slider-container .previous {
    background: url(../images/icons/arrow-right.png) no-repeat center center;
    background-size: 20%;
    left: 0;
    top: calc(50% - 25px);
}

.slider-container .next {
    background: url(../images/icons/arrow-left.png) no-repeat center center;
    background-size: 20%;
    right: 0;
    top: calc(50% - 25px);
}

.slider-container {
    padding: 0 30px;
    position: relative;
}

@media screen and (min-width: 560px) {
    .equipment-documentation {
        flex-direction: row;
    }

    .equipment-tabs {
        max-width: 640px;
    }

    .equipment-related .slider {
        width: 490px;
    }

}

@media screen and (min-width: 980px) {
    img {
        max-width: 98%;
    }

    html {
        font-size: 0.875rem;
    }
    body {
        font-size: 0.8rem;
    }

    main {
        background: radial-gradient(50% 50% at 50% 50%, #016DB6 0%, #004E86 100%);
    }

    .equipment-tabs.container, .intro .container {
        max-width: initial;
    }
    .page-title {
        text-align: left;
        font-size: 1.8rem;
        margin-top: 0.5em;
        margin-bottom: 0.7em;
    }

    #breadcrumbs {
        margin-bottom: 1em;
        overflow: hidden;
    }

    .crumb {
        margin-left: 0.3em;
        display: inline-block;
        width: auto;
    }
    .crumb:first-of-type {
        margin-left: -10px;
    }

    .crumb a {
        padding: 0.8em 2em;
        padding-right: 6em;
    }

    .tabs-head {
        text-align: left;
        margin-bottom: 2.5em;
    }

    /* .tabs-head::after {
        margin-top: 0.4em;
    } */

    .tabs-head button {
        margin-left: 3.5em;
        font-size: 0.8rem;
    }

    .tabs-head button:first-of-type {
        margin-left: 0;
    }

    table {
        max-height: 200px;
        width: 98%;
        overflow-y: scroll;
    }

    table thead {
        text-align: left;
        font-size: 1rem;
    }

    table tbody {
        text-align: left;
    }

    .equipment-description {
        flex-direction: row;
    }

    .equipment-text {
        width: 49%;
        height: 30vh;
        max-height: 200px;
        order: -1;
        padding-right: 2em;
        margin-right: 2.5em;
        margin-top: 1.6em;
        margin-bottom: 1.5em;
    }

    .equipment-showcase {
        width: 38%;
    }

    .equipment-related h2 {
        text-align: left;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        font-size: 1rem;
        padding: 0 35px;
    }

    .equipment-related .slider {
        width: 590px;
        margin-left: 0;
    }

    .equipment-related .box img {
        max-width: 100%;
    }

    .equipment-related ul li {
        margin: 0 1em;
        width: 180px !important;
    }

    .equipment-related li.first {
        margin-left: 0;
    }
    
    .equipment-related-name {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1600px) {
    .slider-container .slider-btn {
        width: 40px;
        height: 40px;
    }

    .page-title {
        font-size: 3rem;
        margin-top: 0.7em;
    }

    #breadcrumbs {
        font-size: 1.15rem;
    }

    .tabs-head button {
        font-size: 1.3rem;
    }

    .tabs-head::after {
        margin-top: 5px;
    }

    .equipment-text {
        font-size: 1.2rem;
        max-height: 230px;
    }

    .tabs-body::after {
        margin-top: 3em;
    }



    .equipment-showcase {
        width: 49%;
    }


    .equipment-related h2 {
        font-size: 1.5rem;
        margin: 1.5em 0;
    }

    .equipment-related .slider {
        width: 950px;
    }

    .equipment-related ul li {
        width: 300px !important;
    }

    .equipment-related-name {
        font-size: 1rem;
        font-weight: bold;
        margin: 0.8em 0;
    }
}