header {
  font-size: 6px;
  display: block;
}

header span {
  font-size: inherit;
}

p {
  margin-left: 0;
}

.col-lg-4 {
  padding: 0 15px;
  width: 33.3%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, button {
  outline: none;
}

button {
  color: inherit;
}

a:active, a:hover, a:focus {
  outline: none;
}

.row {
  display: flex;
}

header {
  background-color: rgb(176, 186, 194);
  height: 73.5px;
  position: relative;
  z-index: 201;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  max-width: 1533px;
}

.header-logo {
  margin-left: 5px;
}

.header-logo img {
  width: 140px;
  height: auto;
}

header nav {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: .5s all;
}

header nav.visible {
  max-height: 800px;
  padding: 3em 0;
}

header nav a {
  font-family: Franklin Gothic Medium Cond;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1948B3;
  margin-left: 1.5em;
  text-decoration: none;
}

header nav a:hover, header nav a.active {
  text-decoration: none;
  color: #FF6400;
  position: relative;
}

header nav a:hover::after, header nav a.active::after {
  content: '';
  height: 0.2em;
  width: 100%;
  background-color: #FF6400;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1.2em;
}

header nav a:active {
  color: #1948B3;
  text-decoration: none;
}

header nav .equipment.active+.in-menu {
  visibility: visible!important;
  opacity: 1!important;
  z-index: 500!important;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.header-group {
  display: flex;
  align-items: center;
}

/* search */

.header-search {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
}

.header-search.open {
  color: white;
  position: relative;
}

.header-search.open a {
  position: absolute;
  left: 5px;
  top: 9px;
}

.header-search.open input[type="text"] {
  display: block;
}

.header-search img {
  width: 35px;
}

.header-search.open img {
  width: 25px;
}

#search-input::-webkit-input-placeholder {
  color: transparent;
  opacity: 1;
}

#search-input::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

#search-input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.header-search a {
  outline: none;
}

.header-search input {
  display: none;
  background-color: transparent;
  border: 1px solid #1948B2;
  border-radius: 7px;
  width: 172px;
  height: 43px;
  padding-left: 37px;
  font-size: 25px;
}

header .search button {
  background-color: transparent;
  border: none;
  margin-right: 0.5em;
  display: block;
}

/* header phone */

.header-phone {
  margin: 0 1em;
  display: flex;
  align-items: center;
}

.header-phone.open {
  position: relative;
  border: 1px solid #1948B2;
  padding: 3px 6px;
  border-radius: 7px;
}

.header-phone a {
  transition: none;
}

.header-phone .icon-phone {
  display: inline-block;
  background-color: #1948B3;
  border-radius: 50%;
  outline: none;
  display: inline-block;
  line-height: 0;
  padding: 10px 10px;
}

.header-phone .icon-phone img {
  width: 17px;
  height: 17px;
}

.header-phone .contacts-text {
  display: none;
  font-size: 1.8em;
  text-transform: uppercase;
  vertical-align: middle;
  margin-left: 0.3em;
}

.header-phone.open .contacts-text {
  display: inline-block;
}

.header-phone .business-hours {
  font-size: inherit;
  font-weight: bold;
  text-align: right;
  margin: 0;
}

.header-phone .call-number {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Proxima Nova;
}

.request-container {
  display: none;
}

.blur {
  position: relative;
}

.blur img {
  width: 161px;
  max-width: initial;
  left: -11px;
  top: -10px;
  height: 43px;
  transition: all .3s ease;
  opacity: 0;
  position: absolute;
}

.blur:hover img, .blur:focus img {
  opacity: 1;
}

nav .request-container {
  display: block;
  margin-left: 2em;
}

nav .request-container.blur img {
  width: 160px;
  height: 56px;
  top: -6px;
  left: -8px;
}

.request-container.blur img {
  width: 142px;
  height: 51px;
  top: -10px;
  left: -8px;
}

header .highlight-container {
  margin-left: 1.7em;
}

.out-of-menu {
  position: absolute;
  height: 29px;
  width: 100%;
  left: 0;
  top: 0;
}

.transparent-border {
  border: 1px solid #fff;
  position: relative;
}

.transparent-border::before, .transparent-border::after {
  position: absolute;
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  left: 0;
  z-index: 110;
  background: -webkit-gradient(linear, left top, right top, from(rgba(176, 186, 194, 0)), color-stop(25%, #b0bac2), color-stop(50%, #b0bac2), color-stop(75%, #b0bac2), to(rgba(176, 186, 194, 0)));
  background: linear-gradient(90deg, rgba(176, 186, 194, 0) 0%, #b0bac2 25%, #b0bac2 50%, #b0bac2 75%, rgba(176, 186, 194, 0) 100%);
}

.transparent-border:before {
  top: -2px;
}

.transparent-border:after {
  bottom: -2px;
}

.highlight-container {
  position: relative;
}

.highlight-container:hover .highlight-white {
  opacity: 1;
}

.highlight-white {
  transition: all .3s ease;
  opacity: 0;
  position: absolute;
  width: 104%;
  height: 160%;
  left: 2%;
  top: -30%;
}

header .highlight-white {
  width: 111%;
  left: -5%;
}

.in-menu {
  -webkit-transition: 0.5s;
  width: 100%;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 70px;
}

.in-menu .container {
  width: 93%!important;
  min-width: 90%!important;
  background: rgba(200, 212, 226, .93);
  box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.6);
  padding-bottom: 3.8em;
  padding-top: 5.3em;
}

.our-company .in-menu .container {
  padding-bottom: 1em;
  padding-top: 4em;
}

.download-center .in-menu .container {
  padding-top: 4.9em;
  padding-bottom: 4.9em;
}

.in-menu .container .row {
  margin-left: auto;
  margin-right: auto;
}

.in-menu .col-lg-4 .pic img {
  max-width: 12em;
}

.in-menu .col-lg-4 .one-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-menu .col-lg-4 .one-ul .the-ul {
  margin-left: 2em;
  padding-top: 1em;
}

.download-center .in-menu .col-lg-4 .one-ul .the-ul {
  padding-top: 0;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
  width: 100%;
}

.in-menu .col-lg-4 ul {
  padding-left: 0;
  margin-top: 0;
  color: #1948B2;
  list-style: disc;
}

.in-menu .col-lg-4 ul .title-ul a:hover {
  text-decoration: none;
}

.in-menu .col-lg-4 ul .title-ul a {
  text-decoration: none;
  font-weight: 600;
}

.in-menu .col-lg-4 ul .title-ul {
  font-weight: 600;
  font-size: 1em;
  line-height: 143.7%;
  letter-spacing: 0.5px;
  color: #1948B2;
  width: 93.9%;
  border-bottom: 1px solid #FF6400;
}

.equipment-menu .in-menu .col-lg-4:last-of-type .title-ul:last-of-type {
  width: 101.4%;
}

.equipment-menu .in-menu .container {
  padding-bottom: 3.8em;
  padding-top: 3.5em;
}

.in-menu .col-lg-4 ul li {
  line-height: 1;
}

.in-menu .col-lg-4 ul a {
  color: #1948B2;
  font-size: 2.4em;
  font-weight: 300;
  text-transform: none;
  font-family: Franklin Gothic Book;
  text-align: left;
  line-height: 1;
  margin-left: 0;
  border: none!important;
}

.in-menu .col-lg-4 ul a::after {
  display: none!important;
}

.in-menu .col-lg-4 ul a:hover {
  text-decoration: underline;
}

.in-menu .col-lg-4 .bottom-addition {
  font-weight: normal;
  font-size: 1em;
  line-height: 2;
  letter-spacing: 0.5px;
  color: #1948B2;
  padding-left: .5em;
}

.contacts:hover .call-number {
  background-color: rgb(176, 186, 194);
  font-family: 'Wiguru';
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: normal;
  font-size: 1.5vw;
  left: 0;
  top: -3px;
}

@media screen and (min-width: 1400px) {
  .contacts:hover .call-number {
    font-size: 1.3vw;
    top: -1px;
  }
}

@media screen and (min-width: 1700px) {
  .contacts:hover .call-number {
    font-size: 1.2vw;
    top: -1px;
  }
}

.font-default {
  font-family: 'Proxima Nova';
}

.download-center .in-menu a:hover {
  position: static;
}

.download-center ul {
  display: flex;
  justify-content: space-between;
}

.download-center ul .title-ul {
  padding-top: 1em;
}

.download-center .in-menu .col-lg-4 .one-ul {
  position: relative;
}

.download-center .in-menu .col-lg-4 ul .title-ul a::after {
  content: "";
  display: block!important;
  position: absolute;
  width: 70%;
  left: initial;
  bottom: initial;
  height: 0;
  margin-top: 5px;
  border-bottom: 1px solid #FF6400;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
  align-self: flex-start;
}

.our-company .row {
  justify-content: space-evenly;
}

.our-company .in-menu a:hover, .download-center .in-menu a:hover {
  border-bottom: 0!important;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
  border-bottom: 0;
}

.our-company .one-ul {
  position: relative;
}

.our-company .in-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #FF6400;
}

.our-company .one-ul {
  margin-bottom: 1.6em;
}

nav .in-menu a:hover {
  text-decoration: underline!important;
}

.our-company .icon, .download-center .icon {
  height: 50px;
  margin-left: 35px;
}

.our-company .col-lg-4 .one-ul .the-ul {
  flex: 2;
}

.equipment-menu ul li {
  margin: 2.7em 0;
}

.equipment-wrapper .in-menu .col-lg-4 ul .title-ul {
  padding-bottom: 5px;
}

.request-mobile {
  display: none;
}

.nav-mobile-toggle {
  display: none;
  border: 0;
  outline: none;
  background-color: transparent;
}

.nav-mobile-toggle:focus {
  outline: none;
}

.burger {
  width: 43px;
  height: 35px;
  background: url(../images/icons/half-burger.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.burger .line {
  display: none;
  width: 95%;
  margin: 0 auto 7px;
  background-color: #004679;
  height: 5px;
}

header nav .nav-close-btn {
  position: absolute;
}

.nav-close-btn {
  display: none;
  border: none;
  background-color: transparent;
  outline: none;
}

header nav .nav-close-btn:hover {
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .out-of-menu {
    display: none;
  }
  header {
    height: 68px;
    justify-content: space-between;
  }
  .header-group {
    display: flex;
  }
  .header-search {
    border: none;
  }
  .header-search::before, .header-search::after {
    display: none;
  }
  .request-container {
    margin-left: 1em;
  }
  header .request {
    background-color: transparent;
    font-family: Franklin Gothic Medium Cond;
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 0.1em;
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  nav {
    max-height: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    transition: .5s all;
    top: 67px;
    left: 0;
    width: 100%;
    display: none;
    background-color: rgba(200, 212, 226, .93);
  }
  header nav a:hover, header nav a.active {
    position: static;
  }
  header nav a:hover::after, header nav a.active::after {
    display: none;
    position: static;
  }
  .in-menu {
    position: fixed;
    top: 58px;
  }
  .in-menu .row {
    max-width: initial;
    width: auto;
  }
  .in-menu .container {
    position: fixed;
    left: 4%;
    max-height: 55vh;
    overflow: scroll;
  }
  .equipment-menu .row {
    flex-wrap: wrap;
  }
  .equipment-menu .col-lg-4 {
    width: 50%;
    margin-bottom: 3enl
  }
  .in-menu .col-lg-4 ul li {
    line-height: 1;
    font-size: 16px;
  }
  .equipment-menu ul li {
    margin: 0.7em 0;
  }
  .in-menu .col-lg-4 ul a {
    font-size: 15px;
  }
  .nav-mobile-toggle {
    display: block;
  }
  .highlight-white {
    top: -30%;
  }
  .our-company .icon, .download-center .icon {
    margin-left: 0;
  }
  .contacts-text:hover {
    margin: 0;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  nav {
    top: 68px;
    line-height: normal;
  }
  .our-company .row {
    flex-direction: column;
    align-items: center;
  }
  .our-company .one-ul {
    margin-bottom: 0.5em;
  }
  .download-center .row {
    flex-direction: column;
  }
  .equipment-menu .row {
    flex-direction: column;
    align-items: center;
  }
  .equipment-menu ul li {
    margin: .8em 0;
  }
}

@media screen and (min-width: 1000px) {
  .in-menu.nav-open {
    top: 133px;
  }
}

@media screen and (max-width: 1000px) {
  header nav a {
    font-size: 20px;
    margin-left: 0;
  }
  .in-menu {
    top: 17%;
  }
  .equipment-menu .col-lg-4, .download-center .col-lg-4, .our-company .col-lg-4 {
    width: 100%;
  }
  .in-menu .col-lg-4 .one-ul {
    margin-bottom: 3em;
  }
  .in-menu .col-lg-4 .one-ul .the-ul {
    padding-top: 0.7em;
  }
  .equipment-menu .in-menu .col-lg-4 .title-ul a {
    color: #ff6500;
    font-family: 'Franklin Gothic Heavy';
    font-size: 16px;
  }
  .in-menu .container {
    padding: 2.4em 0;
  }
  .equipment-filtration-icon {
    width: 53px;
    height: 32px;
  }
  nav {
    flex-direction: column;
  }
  nav .nav-close-btn {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;
    padding: 0.9em 1.25em;
    outline: none;
  }
  header nav .nav-close-btn:hover::after {
    display: none;
  }
  header .request-mobile {
    display: block;
  }
  nav .request {
    font-size: 12px;
    width: 145px;
    height: 32px;
    margin-top: 0.5em;
  }
  nav .equipment-wrapper {
    margin-bottom: 1.4em;
  }
  .transparent-border::before, .transparent-border::after {
    background: rgb(185, 203, 223);
    left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 365px) {
  .header-search {
    margin-right: 0;
  }
}

@media screen and (max-height: 600px) and (max-width: 1000px) and (orientation:landscape) {
  header {
    width: 70px;
    flex-direction: column;
    order: 2;
    height: auto;
    justify-content: flex-start;
    position: relative;
  }
  .header-logo {
    order: 3;
    margin-top: 30px;
  }
  .header-logo img {
    width: 70px;
  }
  .header-search {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header-group {
    display: block;
    transform: translate(0, 0);
    width: 39px;
    margin-left: 0.5em;
  }
  .header-phone .icon-phone {
    background-color: #1948B3;
    border-radius: 50%;
    outline: none;
    display: inline-block;
    line-height: 1;
    padding: 10px 10px;
  }
  .header-phone img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
  }
  .header-phone .contacts-text {
    display: none;
    vertical-align: middle;
    margin-left: 0;
  }
  header .contacts, header .highlight-container {
    display: none;
  }
  .nav-mobile-toggle {
    order: -1;
    margin: 10px 0 30px;
  }
  nav {
    position: fixed;
    width: calc(100% - 70px);
    top: 0;
  }
  .header-phone .business-hours {
    line-height: 0;
    margin-top: 10px;
  }
  .header-phone .call-number {
    color: white;
    font-weight: bold;
    font-size: 11.5px;
    text-transform: uppercase;
    font-family: Proxima Nova;
  }
  .in-menu .container {
    left: 0;
    position: fixed;
    width: 90%!important;
  }
}

@media screen and (min-width: 650px) {
  .header-search input {
    display: block;
  }
  .header-search .icon-search {
    position: absolute;
    left: 5px;
    top: 9px;
  }
  .header-search img {
    width: 25px;
    height: 25px;
  }
  .header-phone .contacts-text {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    justify-content: space-between;
    width: 90%;
  }
  .header-logo {
    margin-left: 0;
  }
  .equipment-menu .in-menu .container {
    padding-bottom: 4.5em;
    padding-top: 4.5em;
  }
  .header-group {
    display: flex;
  }
  #search-input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
  }
  #search-input::-moz-placeholder {
    color: white;
    opacity: 1;
  }
  #search-input:-ms-input-placeholder {
    color: white;
    opacity: 1;
  }
  #search-input:focus::placeholder {
    color: transparent;
  }
  .header-search {
    margin: 0 1em;
  }
  .header-search .icon-search {
    left: auto;
    right: 5px;
    top: 6px;
  }
  .header-search .icon-search img {
    width: 18px;
    height: 18px;
  }
  .header-search input {
    display: block;
    border: none;
    padding-left: 0;
    padding-right: 2.15em;
    font-size: 2em;
    text-align: center;
    color: white;
    width: 110px;
    height: 28px;
  }
  /* header phone */
  .header-phone {
    width: 133px;
  }
  .header-phone .icon-phone {
    padding: 6px 6px;
    margin-top: 2px;
    vertical-align: top;
  }
  .header-phone:hover .icon-phone, .header-phone:hover .business-hours {
    display: none;
  }
  .header-phone:hover .call-number {
    font-size: 125%;
  }
  .header-phone .icon-phone img {
    width: 10px;
    height: 10px;
  }
  .header-phone .contacts-text {
    display: inline-block;
  }
  /* .header-phone .call-number {
    position: absolute;
  } */
  header nav a {
    margin-left: 0.9em;
  }
  .request-container {
    display: block;
    margin-left: 1.5em;
  }
  .request-container .request {
    padding: 0.7em 0.8em;
    font-family: Franklin Gothic Medium Cond;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
  }
  .request-container.blur img {
    width: 142px;
    height: 67px;
    top: -14px;
    left: -8px;
  }
  nav .request-container {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  header nav a {
    margin-left: 1.1em;
  }
  .header-search {
    margin-left: 2em;
  }
  .header-search input {
    width: 131px;
  }
}

@media screen and (min-width: 1600px) {
  .blur img {
    width: 200px;
    height: 50px;
  }
  header {
    font-size: 8px;
  }
  .request-container .request {
    padding: 1em 2em;
  }
  .header-container {
    justify-content: space-between;
  }
  header nav a {
    font-size: 2em;
  }
  header .logo {
    width: 150px;
  }
  /* .request-container.blur img {
    width: 186px;
    height: 61px;
    top: -12px;
    left: -10px;
  } */
  .header-search {
    margin: 0 2em;
  }
  .header-search input {
    width: 170px;
    height: 40px;
  }
  .header-search .icon-search {
    top: 8px;
    right: 10px;
  }
  .header-search .icon-search img {
    width: 24px;
    height: 24px;
  }
  header .request {
    width: auto;
    height: auto;
    padding: 0.5em 0.6em;
  }
  .header-phone {
    width: 190px;
  }
  .header-phone:hover .call-number {
    font-size: 130%;
  }
  .header-phone .icon-phone {
    margin-top: 0;
  }
}

@media screen and (min-width: 1800px) {
  .header-container {
    justify-content: space-between;
  }
  header nav a {
    margin-left: 1.5em;
  }
  .header-search, .header-phone, header .request-container {
    margin-left: 2em;
  }
  .header-search input {
    width: 170px;
  }
}