/* === Typography === */

@font-face {
    font-family: "Wiguru";
    src: url(../fonts/WiGuru_1_regular.ttf) format("truetype");
}

@font-face {
    font-family: "PT Sans Caption";
    src: url(../fonts/PTSansCaption-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

span {
    font-size: inherit;
}


/* Global */

body,
body * {
    cursor: none;
}

body {
    margin: 0;
    overflow: hidden;
}

p,
address {
    margin-left: 0;
}

.circle .dot {
    cursor: none;
}

.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.col-lg-4 {
    padding: 0 15px;
    width: 33.3%;
}


/* Preloader */

#preloader {
    position: relative;
    z-index: 999;
}

.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation-delay: 1s;
    background-color: #004e86;
}

.item-1 {
    width: 20px;
    height: 20px;
    background: #ff6500;
    border-radius: 50%;
    background-color: #ff6500;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

.item-1:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6500;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.item-2 {
    width: 20px;
    height: 20px;
    background: #ff6500;
    border-radius: 50%;
    background-color: #ff6500;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

.item-2:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6500;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.item-3 {
    width: 20px;
    height: 20px;
    background: #ff6500;
    border-radius: 50%;
    background-color: #ff6500;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

.item-3:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6500;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.item-4 {
    width: 20px;
    height: 20px;
    background: #ff6500;
    border-radius: 50%;
    background-color: #ff6500;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

.item-4:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6500;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.item-5 {
    width: 20px;
    height: 20px;
    background: #ff6500;
    border-radius: 50%;
    background-color: #ff6500;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}

.item-5:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6500;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 1000ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.cursor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10000;
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cursor-follower {
    position: fixed;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    pointer-events: none;
    transform: translate(50vw, 50vh);
    will-change: transform, opacity;
    transition: opacity 1.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    transition: transform 0.1s ease-out, opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, border 0.2s ease;
}

.cursor-wrapper.active .cursor-follower {
    width: 26px;
    height: 26px;
    top: -13px;
    left: -13px;
    border-color: #e37430;
}

.cursor-wrapper.active .cursor {
    background-color: #e37430;
}

.cursor-wrapper.active2 .cursor {
    background-color: white;
    opacity: 0.4;
}

.cursor-wrapper.active2 .cursor-follower {
    width: 26px;
    height: 26px;
    top: -13px;
    left: -13px;
}

.cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    pointer-events: none;
    transform: translate(50vw, 50vh);
    will-change: transform;
    mix-blend-mode: color-dodge;
    transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background 0.3s ease;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid #fff;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input,
button {
    outline: none;
}

html {
    overflow-y: hidden;
    font-size: 10px;
}

body {
    overflow-y: hidden;
}

a:active,
a:hover,
a:focus {
    outline: none;
}

.row {
    display: flex;
}

#page {
    display: flex;
    flex-direction: column;
}


/* === Header ===*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 186, 194);
    height: 73.5px;
    z-index: 109;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .logo {
    width: 140px;
}


/* Navigation */

header nav {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: 0.5s all;
}

header nav a {
    font-family: Franklin Gothic Medium Cond;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #1948b3;
    margin-left: 1.5rem;
    text-decoration: none;
}

header nav a:hover,
header nav a.active {
    text-decoration: none;
    color: #ff6400;
    position: relative;
}

header nav a:hover::after,
header nav a.active::after {
    content: "";
    height: 0.2rem;
    width: 100%;
    background-color: #ff6400;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1.2rem;
}

header nav a:active {
    color: #1948b3;
    text-decoration: none;
}

header nav .equipment.active+.in-menu {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 500 !important;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

header .search {
    min-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    margin-left: 2rem;
    height: 3.8rem;
    border: 0.1rem solid white;
    position: relative;
}

header .search input {
    width: 10.2rem;
    font-family: Franklin Gothic Medium Cond;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    border: none;
    margin-right: 0.5rem;
}

header .search input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1;
}

header .search input:-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

header .search input::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

header .search input:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1;
}


/* == Mobile search ==  */

.header-group {
    transform: translateX(30px);
    display: none;
}

.header-search {
    margin-right: 19.5px;
    margin-top: 2px;
}

.header-search a {
    outline: none;
}

.header-search input {
    display: none;
    background-color: transparent;
    border: 1px solid #1948b2;
    border-radius: 7px;
    width: 172px;
    height: 43px;
    padding-left: 43px;
    font-size: 25px;
}

.header-search.open {
    position: relative;
    /* top: -20px; */
    right: 50px;
}

.header-search.open img {
    width: 25px;
    height: 25px;
}

.header-search.open a {
    top: 8px;
    left: 10px;
    position: absolute;
}

.header-search.open input {
    display: block;
}

header .search button {
    background-color: transparent;
    border: none;
    margin-right: 0.5rem;
    display: block;
}

header .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 1.5rem;
}

header .contacts-icon {
    width: 2.2rem;
    border-radius: 50%;
    height: 2.2rem;
    background: #1948b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .contacts-text {
    margin-left: 1rem;
}

header .contacts-text p {
    margin: 0;
    line-height: 1.2;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
}

header .request {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-family: Franklin Gothic Medium Cond;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 0.1rem;
    position: relative;
    text-transform: uppercase;
    color: #ffffff;
    width: 15.8rem;
    height: 3.8rem;
}

header .highlight-container {
    margin-left: 1.7rem;
}

.out-of-menu {
    position: absolute;
    height: 29px;
    width: 100%;
    top: 0;
}

.transparent-border {
    border: 1px solid #fff;
    position: relative;
}

.transparent-border::before,
.transparent-border::after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    left: 0;
    z-index: 110;
    background: -webkit-gradient( linear, left top, right top, from(rgba(176, 186, 194, 0)), color-stop(25%, #b0bac2), color-stop(50%, #b0bac2), color-stop(75%, #b0bac2), to(rgba(176, 186, 194, 0)));
    background: linear-gradient( 90deg, rgba(176, 186, 194, 0) 0%, #b0bac2 25%, #b0bac2 50%, #b0bac2 75%, rgba(176, 186, 194, 0) 100%);
}

.transparent-border:before {
    top: -2px;
}

.transparent-border:after {
    bottom: -2px;
}

.inside-container {
    max-width: 152rem;
    margin: 0 auto;
}


/* Main Content */

main {
    background-color: rgb(0, 78, 134);
}

main .content {
    height: calc(100vh - 73.5px);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

main .my-slider {
    z-index: 108;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 57vh;
    /* height: 75vh; */
    /* padding-bottom: 15vh; */
    width: 80vw;
    margin: 0 auto;
}

main .my-slider .my-slide {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-transition: 1.3s cubic-bezier(0.61, 0, 0.34, 0.99);
    transition: 1.3s cubic-bezier(0.61, 0, 0.34, 0.99);
}

main .my-slider .my-slide h2 {
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 1.7vw;
    letter-spacing: 0.5px;
    color: #ffffff;
    line-height: 5.5rem;
    margin-top: 3rem;
    transition: 0.5s margin-top;
}

main .my-slider .my-slide .dry-pic:hover {
    -webkit-filter: drop-shadow(2px 4px 4px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(2px 4px 4px rgba(255, 255, 255, 0.5));
}

main .my-slider .my-slide p {
    word-break: keep-all;
    font-family: Proxima Nova;
    font-weight: 300;
    font-size: 12px;
    line-height: 2.8rem;
    color: #fff;
    letter-spacing: 0.5px;
}

main .my-slider .my-slide p span {
    word-break: keep-all;
    font-size: 1.2vw;
    font-weight: 700;
    color: #fff;
}

main .my-slider .my-slide .blur {
    display: inline-block;
    max-width: 157.5px;
    width: 100%;
    margin-top: 1.3rem;
    position: relative;
}

main .my-slider .my-slide .blur:hover img {
    opacity: 1;
}

main .my-slider .my-slide .blur img {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    width: 112%;
    height: 160%;
    left: -6%;
    top: -30%;
    /*content: '';
	width: 115%; height:189%;
	background-position: top;
	background-image: url('../img/blur.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -40%;
	left: -7%;*/
}

.highlight-container {
    position: relative;
}

.highlight-container:hover .highlight-white {
    opacity: 1;
}

.highlight-white {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    width: 104%;
    height: 160%;
    left: 2%;
    top: -30%;
}

header .highlight-white {
    width: 111%;
    left: -5%;
}

.soc-block .highlight-white {
    width: 112%;
    height: 129%;
    left: -6%;
    top: 0;
}

main .my-slider .my-slide .more {
    font-family: Proxima Nova;
    font-weight: 300;
    line-height: 3.3rem;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    max-width: 157.5px;
}

main .my-slider .my-slide .more::before,
main .my-slider .my-slide .more::after {
    background: -webkit-gradient( linear, left top, right top, from(rgba(0, 78, 134, 0)), color-stop(25%, #004e86), color-stop(50%, #004e86), color-stop(75%, #004e86), to(rgba(0, 78, 134, 0)));
    background: linear-gradient( 90deg, rgba(0, 78, 134, 0) 0%, #004e86 25%, #004e86 50%, #004e86 75%, rgba(0, 78, 134, 0) 100%);
}

.my-slide .dry-pic {
    transform: translate(0, 0);
    transition: 1.5s all;
}

main .my-slider .my-slide.prev-sl,
main .my-slider .my-slide.quite-prev-sl {
    opacity: 0;
    -webkit-transform: scale(7);
    transform: scale(7);
    visibility: hidden;
}


/* main .my-slider .my-slide.prev-sl, main .my-slider .my-slide.quite-prev-sl .dry-pic {
  transform: translate(-30%, 20%) scale(1.5);
} */

.featured-images {
    width: 100%;
    height: 180px;
    position: relative;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.featured-images .dry-pic {
    width: 280px;
    margin-left: -140px;
    top: -8%;
    display: block;
    left: 50%;
    right: auto;
    width: 300px;
    margin-left: -210px;
    top: 20%;
}

main .my-slider .my-slide.sl-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}

.featured-images {
    width: 50%;
}

main .my-slider .my-slide.sl-1 .dry-pic.pic-1 {
    top: 25%;
    width: 280px;
    margin-left: -140px;
}

main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
    left: 82%;
    width: 280px;
    margin-left: -140px;
    top: -8%;
}

main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
    left: 14%;
    width: 280px;
    margin-left: -140px;
    top: -8%;
}

.our--services {
    list-style: none;
    padding: 0;
}

.sl-2 .dry-pic {
    width: 420px;
    margin-left: -210px;
    top: 20%;
}

main .my-slider .my-slide.sl-8 .our--services li {
    word-break: keep-all;
    font-family: Proxima Nova;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.7;
    margin-bottom: 0.5em;
}

main .my-slider .my-slide.sl-8 .our--services li .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e37430;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 8px;
    border: 1px solid #ffffff;
}


/* main .my-slider .my-slide.sl-8 .our--services li:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 10%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  margin-top: 5px;
  opacity: 1;
  background: #E37430;
  border: 1px solid #FFFFFF;
} */

.our--services li {
    margin-bottom: 0;
    position: relative;
}

.our--services li::before {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #e37430;
    margin-right: 10px;
    margin-top: 4px;
}

main .my-slider .my-slide .our--services li p {
    margin-left: 20px;
}

main .my-slider .my-slide.sl-8 .our--services li span {
    word-break: keep-all;
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}

main .dots {
    z-index: 107;
    position: absolute;
    border-radius: 50%;
    width: 70rem;
    height: 70rem;
    right: -17rem;
    -webkit-transform: translateX(60%) translateY(-50%);
    transform: translateX(60%) translateY(-50%);
    top: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

main .dots::after {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 8rem;
    height: 100%;
    content: "";
    position: absolute;
    right: 50.7rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: -webkit-gradient( linear, left top, right top, from(rgba(0, 78, 134, 0)), to(#004e86));
    background: linear-gradient(90deg, rgba(0, 78, 134, 0) 0%, #004e86 100%);
}

main .dots-rotate-7 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(37.5deg);
    transform: translateX(50%) translateY(-50%) rotate(37.5deg);
}

main .dots-rotate-7::after {
    -webkit-transform: translateY(-50%) rotate(-37.5deg);
    transform: translateY(-50%) rotate(-37.5deg);
}

main .dots-rotate-7 .dot {
    -webkit-transform: rotate(-37.5deg);
    transform: rotate(-37.5deg);
}

main .dots-rotate-7 .dot-1 {
    right: 52.8rem !important;
}

main .dots-rotate-7 .dot-2 {
    right: 61.4rem !important;
}

main .dots-rotate-7 .dot-3 {
    right: 65.8rem !important;
}

main .dots-rotate-7 .dot-4 {
    right: 67.5rem !important;
}

main .dots-rotate-7 .dot-5 {
    right: 67rem !important;
}

main .dots-rotate-7 .dot-6 {
    right: 64.2rem !important;
}

main .dots-rotate-7 .dot-7 {
    right: 58.2rem !important;
}

main .dots-rotate-6 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(25deg);
    transform: translateX(50%) translateY(-50%) rotate(25deg);
}

main .dots-rotate-6::after {
    -webkit-transform: translateY(-50%) rotate(-25deg);
    transform: translateY(-50%) rotate(-25deg);
}

main .dots-rotate-6 .dot {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

main .dots-rotate-6 .dot-1 {
    right: 55.5rem !important;
}

main .dots-rotate-6 .dot-2 {
    right: 63.3rem !important;
}

main .dots-rotate-6 .dot-3 {
    right: 67.1rem !important;
}

main .dots-rotate-6 .dot-4 {
    right: 68.5rem !important;
}

main .dots-rotate-6 .dot-5 {
    right: 67.7rem !important;
}

main .dots-rotate-6 .dot-6 {
    right: 64.4rem !important;
}

main .dots-rotate-6 .dot-7 {
    right: 57.8rem !important;
}

main .dots-rotate-5 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(12.5deg);
    transform: translateX(50%) translateY(-50%) rotate(12.5deg);
}

main .dots-rotate-5::after {
    -webkit-transform: translateY(-50%) rotate(-12.5deg);
    transform: translateY(-50%) rotate(-12.5deg);
}

main .dots-rotate-5 .dot {
    -webkit-transform: rotate(-12.5deg);
    transform: rotate(-12.5deg);
}

main .dots-rotate-5 .dot-1 {
    right: 58rem !important;
}

main .dots-rotate-5 .dot-2 {
    right: 64.7rem !important;
}

main .dots-rotate-5 .dot-3 {
    right: 68.1rem !important;
}

main .dots-rotate-5 .dot-4 {
    right: 69.1rem !important;
}

main .dots-rotate-5 .dot-5 {
    right: 67.8rem !important;
}

main .dots-rotate-5 .dot-6 {
    right: 64.1rem !important;
}

main .dots-rotate-5 .dot-7 {
    right: 56.6rem !important;
}

main .dots-rotate-4 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(0deg);
    transform: translateX(50%) translateY(-50%) rotate(0deg);
}

main .dots-rotate-4::after {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0);
}

main .dots-rotate-4 .dot {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

main .dots-rotate-4 .dot-1 {
    right: 60rem !important;
}

main .dots-rotate-4 .dot-2 {
    right: 65.9rem !important;
}

main .dots-rotate-4 .dot-3 {
    right: 68.7rem !important;
}

main .dots-rotate-4 .dot-4 {
    right: 69.2rem !important;
}

main .dots-rotate-4 .dot-5 {
    right: 67.5rem !important;
}

main .dots-rotate-4 .dot-6 {
    right: 63.1rem !important;
}

main .dots-rotate-4 .dot-7 {
    right: 54.5rem !important;
}

main .dots-rotate-3 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(-12.5deg);
    transform: translateX(50%) translateY(-50%) rotate(-12.5deg);
}

main .dots-rotate-3::after {
    -webkit-transform: translateY(-60%) rotate(12.5deg);
    transform: translateY(-60%) rotate(12.5deg);
}

main .dots-rotate-3 .dot {
    -webkit-transform: rotate(12.5deg);
    transform: rotate(12.5deg);
}

main .dots-rotate-3 .dot-1 {
    right: 61.3rem !important;
}

main .dots-rotate-3 .dot-2 {
    right: 66.5rem !important;
}

main .dots-rotate-3 .dot-3 {
    right: 68.9rem !important;
}

main .dots-rotate-3 .dot-4 {
    right: 68.9rem !important;
}

main .dots-rotate-3 .dot-5 {
    right: 66.8rem !important;
}

main .dots-rotate-3 .dot-6 {
    right: 61.7rem !important;
}

main .dots-rotate-3 .dot-7 {
    right: 51.6rem !important;
}

main .dots-rotate-2 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(-25deg);
    transform: translateX(50%) translateY(-50%) rotate(-25deg);
}

main .dots-rotate-2::after {
    -webkit-transform: translateY(-50%) rotate(25deg);
    transform: translateY(-50%) rotate(25deg);
}

main .dots-rotate-2 .dot {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

main .dots-rotate-2 .dot-1 {
    right: 62.1rem !important;
}

main .dots-rotate-2 .dot-2 {
    right: 66.6rem !important;
}

main .dots-rotate-2 .dot-3 {
    right: 68.5rem !important;
}

main .dots-rotate-2 .dot-4 {
    right: 68.2rem !important;
}

main .dots-rotate-2 .dot-5 {
    right: 65.5rem !important;
}

main .dots-rotate-2 .dot-6 {
    right: 59.7rem !important;
}

main .dots-rotate-2 .dot-7 {
    right: 48rem !important;
}

main .dots-rotate-1 {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(-37.5deg);
    transform: translateX(50%) translateY(-50%) rotate(-37.5deg);
}

main .dots-rotate-1::after {
    -webkit-transform: translateY(-50%) rotate(37.5deg);
    transform: translateY(-50%) rotate(37.5deg);
}

main .dots-rotate-1 .dot {
    -webkit-transform: rotate(37.5deg);
    transform: rotate(37.5deg);
}

main .dots-rotate-1 .dot-1 {
    right: 62.1rem !important;
}

main .dots-rotate-1 .dot-2 {
    right: 66.1rem !important;
}

main .dots-rotate-1 .dot-3 {
    right: 67.6rem !important;
}

main .dots-rotate-1 .dot-4 {
    right: 67rem !important;
}

main .dots-rotate-1 .dot-5 {
    right: 64.1rem !important;
}

main .dots-rotate-1 .dot-6 {
    right: 57.5rem !important;
}

main .dots-rotate-1 .dot-7 {
    right: 43rem !important;
}

main .dots .dot {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: right;
    width: 17rem;
    position: absolute;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

main .dots .dot:first-child,
main .dots .dot:last-child {
    opacity: 0.8;
}

main .dots .dot .after {
    margin-top: -0.3rem;
    width: 1.1rem;
    height: 1.1rem;
    display: block;
    margin-left: 1.1rem;
    border-radius: 50%;
    background: #ffffff;
    opacity: 0.3;
}

main .dots .dot.dt-active {
    color: #ffffff;
}

main .dots .dot.dt-active .after {
    opacity: 1;
    background: #e37430;
    border: 1px solid #ffffff;
}

main .dots .dot-1 {
    right: 76.4rem;
    top: 12.5%;
}

main .dots .dot-2 {
    top: 25%;
    right: 84.6rem;
}

main .dots .dot-3 {
    top: 37.5%;
    right: 88.4rem;
}

main .dots .dot-4 {
    top: 50%;
    right: 89.2rem;
}

main .dots .dot-5 {
    top: 62.5%;
    right: 87.3rem;
}

main .dots .dot-6 {
    top: 75%;
    right: 81.9rem;
}

main .dots .dot-7 {
    top: 87.5%;
    right: 71.5rem;
}

main .map-block {
    display: inline-block;
    z-index: 108;
    width: 75.4%;
    position: absolute;
    bottom: -30px;
    left: 53%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media (max-width: 1286px) {
    .news-block.active .top-news {
        bottom: 4rem;
    }
    main .content {
        height: calc(95vh);
    }
}

main .map-block .map-point {
    font-family: Proxima Nova;
    font-weight: 300;
    font-size: 0.81vw;
    line-height: 1;
    letter-spacing: 0.5px;
    position: absolute;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    display: none;
}

.the-point:hover>.hiden_text {
    z-index: 9999;
}

.hiden_text:hover {
    z-index: 9999;
}

.hiden_text {
    line-height: 1.2;
    font-size: 0.95vw;
    min-width: 12vw;
    left: 50%;
    margin-left: -6vw;
    display: none;
    font-weight: bold;
    position: absolute;
    z-index: 1003;
    transition: 0.3s background-color;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black, 2px -2px 5px black, -2px 2px 5px black;
}

.hiden {
    display: block !important;
    transition: all 2s linear;
}

.mapp {
    position: relative;
    width: 100%;
}

main .map-block .map-point.reverse img {
    z-index: 1002;
}


/* main .map-block .map-point img {
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 1001;
} */


/* main .map-block .map-point:before {
  width: 14px;
  height: 30px;
  display: inline-block;
  content: url(../img/map-point.png);
  margin-right: 1rem;
  margin-left: 1rem;
} */

main .map-block .map-point .map-title {
    line-height: 1;
    position: relative;
    z-index: 1102;
}

main .map-block .map-point .shape-map {
    width: 2vw;
    display: block;
    height: 1px;
    background-color: white;
    margin: 0.2em auto;
}

main .map-block .point-1 img {
    left: 47%;
    top: -38%;
}

main .map-block .point-1 {
    left: 60.6%;
    top: 45%;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

main .map-block .point-2 {
    top: 46%;
    left: 47.4%;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

main .map-block .point-3 {
    top: 45.5%;
    left: 60.1%;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

main .map-block .point-4 {
    top: 45%;
    left: 79.7%;
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s;
}

main .map-block .point-5 {
    top: 37.1%;
    left: 39.4%;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

main .map-block .point-6 {
    top: 57.3%;
    left: 46.9%;
    -webkit-animation-delay: 12.5s;
    animation-delay: 12.5s;
}

main .map-block .point-7 {
    top: 43%;
    left: 30.6%;
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}

main .map-block .point-8 .map-title {
    max-width: 90px;
    min-width: unset;
    position: relative;
}

main .map-block .point-8 img {
    top: -56%;
    left: 33%;
}

main .map-block .point-8 {
    top: 58.3%;
    left: 59.8%;
    -webkit-animation-delay: 17.5s;
    animation-delay: 17.5s;
}

main .map-block .point-9 {
    top: 43.5%;
    left: 65.2%;
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

main .map-block .point-10 {
    top: 40%;
    left: 67%;
    -webkit-animation-delay: 22.5s;
    animation-delay: 22.5s;
}

main .map-block .point-10 .hiden_text {
    top: 100%;
}

main .map-block .point-11 {
    top: 54%;
    left: 52.5%;
    -webkit-animation-delay: 25s;
    animation-delay: 25s;
}

main .map-block .point-12 {
    top: 42.6%;
    left: 30.9%;
    -webkit-animation-delay: 27.5s;
    animation-delay: 27.5s;
}

main .map-block .point-13 {
    top: 55.5%;
    left: 51.6%;
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}

main .map-block .point-15 {
    top: 44.5%;
    left: 76.7%;
    -webkit-animation-delay: 32.5s;
    animation-delay: 32.5s;
}

main .map-block .point-15 .hiden_text {
    top: 100%;
}

main .map-block .point-16 {
    top: 63.3%;
    left: 51.2%;
    -webkit-animation-delay: 35s;
    animation-delay: 35s;
}

main .map-block .point-16 .hiden_text {
    min-width: 18vw;
    margin-left: -9vw;
}

main .map-block .point-18 {
    top: 55.5%;
    left: 74.4%;
    -webkit-animation-delay: 37.5s;
    animation-delay: 37.5s;
}

main .map-block .point-18 .hiden_text {
    top: 100%;
}

main .map-block .point-19 {
    top: 54.1%;
    left: 51.1%;
    -webkit-animation-delay: 40s;
    animation-delay: 40s;
}

main .map-block .point-20 {
    top: 57%;
    left: 57.5%;
    -webkit-animation-delay: 42.5s;
    animation-delay: 42.5s;
}

main .map-block .point-21 {
    top: 57.3%;
    left: 71%;
    -webkit-animation-delay: 45s;
    animation-delay: 45s;
}

main .map-block .point-22 {
    top: 38.1%;
    left: 40.5%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-23 {
    top: 44%;
    left: 26.2%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-24 {
    top: 39%;
    left: 56.7%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-30 {
    top: 57.6%;
    left: 46.7%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-31 {
    top: 37%;
    left: 57%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-32 {
    top: 58%;
    left: 72.5%;
    -webkit-animation-delay: 47.5s;
    animation-delay: 47.5s;
}

main .map-block .point-32 .hiden_text {
    top: 100%;
}

.in-menu {
    -webkit-transition: 0.5s;
    width: 100%;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 70px;
}

.in-menu .container {
    width: 93% !important;
    min-width: 90% !important;
    background: rgba(200, 212, 226, 0.93);
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.6);
    padding-bottom: 3.8rem;
    padding-top: 4rem;
}

.our-company .in-menu .container {
    padding-bottom: 1rem;
}

.download-center .in-menu .container {
    padding-top: 4.9rem;
    padding-bottom: 4.9rem;
}

.in-menu .container .row {
    margin-left: auto;
    margin-right: auto;
}

.featured-images .dry-pic {
    position: absolute;
}

.pic-1 {
    width: 15%;
    right: 18%;
    top: 28%;
}

.pic-2 {
    width: 20%;
    right: 2%;
    top: 11%;
}

.pic-3 {
    right: 30%;
    top: 13.1%;
    width: 18%;
}


/* .in-menu .col-lg-4 .pic {
  min-width: 13rem;
} */

.in-menu .col-lg-4 .pic img {
    max-width: 12rem;
}

.in-menu .col-lg-4 .one-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.in-menu .col-lg-4 .one-ul .the-ul {
    margin-left: 2rem;
    padding-top: 1em;
}

.download-center .in-menu .col-lg-4 .one-ul .the-ul {
    padding-top: 0;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
    width: 100%;
}

.in-menu .col-lg-4 ul {
    padding-left: 0;
    margin-top: 0;
    color: #1948b2;
}

.in-menu .col-lg-4 ul .title-ul a:hover {
    text-decoration: none;
}

.in-menu .col-lg-4 ul .title-ul a {
    text-decoration: none;
    font-weight: 600;
}

.in-menu .col-lg-4 ul .title-ul {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 143.7%;
    letter-spacing: 0.5px;
    color: #1948b2;
    width: 93.9%;
    border-bottom: 1px solid #ff6400;
}

.equipment-menu .in-menu .col-lg-4:last-of-type .title-ul:last-of-type {
    width: 101.4%;
}


/* .in-menu .col-lg-4 ul .title-ul::after {
  content: "";
    display: block !important;
    position: absolute;
    width: 80%;
    width: 280px;
    left: initial;
    bottom: initial;
    height: 0;
    border-bottom: 1px solid #FF6400;
} */

.in-menu .col-lg-4 ul li {
    line-height: 1;
}

.in-menu .col-lg-4 ul a {
    color: #1948b2;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: none;
    font-family: Franklin Gothic Book;
    text-align: left;
    line-height: 1;
    margin-left: 0;
    border: none !important;
}

.in-menu .col-lg-4 ul a::after {
    display: none !important;
}

.in-menu .col-lg-4 ul a:hover {
    text-decoration: underline;
}

.in-menu .col-lg-4 .bottom-addition {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: 0.5px;
    color: #1948b2;
    padding-left: 0.5rem;
}

.copyright-block {
    bottom: 0%;
    left: 10%;
    position: fixed;
    z-index: 157;
}

.soc-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright-block .soc-icons i {
    color: #fff;
}

.copyright-block .soc-block .fb {
    width: 1.1rem;
}

.copyright-block .soc-block .tw {
    width: 2.1rem;
}

.copyright-block .soc-block .inst {
    width: 2rem;
}

.social-icon {
    color: #e37430 !important;
}

.copyright-block .soc-block .vk {
    width: 2.6rem;
}

.copyright-block .soc-block .tg {
    width: 2.1rem;
}

.copyright-block .share-btn {
    font-family: Proxima Nova;
    margin-top: 1.3rem;
    font-weight: 300;
    line-height: 3.3rem;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: none;
}

.copyright-block .share-btn::before,
.copyright-block .share-btn::after {
    background: -webkit-gradient( linear, left top, right top, from(rgba(0, 78, 134, 0)), color-stop(25%, #004e86), color-stop(50%, #004e86), color-stop(75%, #004e86), to(rgba(0, 78, 134, 0)));
    background: linear-gradient( 90deg, rgba(0, 78, 134, 0) 0%, #004e86 25%, #004e86 50%, #004e86 75%, rgba(0, 78, 134, 0) 100%);
}

.copyright-block .share-btn.active-btn {
    display: inline-block;
}

.copyright-block p {
    font-family: Proxima Nova;
    font-weight: 300;
    color: #fff;
    font-size: 1.17rem;
    letter-spacing: 0.5px;
    text-transform: lowercase;
}

.bottom-widget {
    position: fixed;
    bottom: 2.5%;
    left: 0;
    right: 0;
    z-index: 107;
}

.client-map-btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
    z-index: 110;
}

.client-map-btn::focus {
    outline: none;
}

.client-map-btn.active {
    width: 50px;
}

.client-map-btn.active #client-map-btn-text {
    visibility: hidden;
}

.client-map-btn.active .close-btn {
    visibility: visible;
}

.client-map-btn.active .close-btn span:first-of-type {
    transform: rotate(45deg) translate(3px, 4px);
}

.client-map-btn.active .close-btn span:nth-of-type(2) {
    transform: rotate(-45deg) translate(0, 0);
}

#client-map-btn-text {
    position: relative;
    top: 7px;
    outline: none;
    width: 50px;
    display: inline-block;
    height: 35px;
}

.client-map-btn a {
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.client-map-btn .close-btn {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: calc(50% - 8px);
}

.client-map-btn .close-btn span {
    height: 2px;
    width: 16px;
    display: block;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 3px;
    transition: 0.5s all;
}

.news-block {
    min-width: 30vw;
    background: url(../img/top-news.png) top center no-repeat;
    min-height: 5.6rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1002;
}

.news-block * {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.news-block .top-news {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    padding-bottom: 3rem;
    width: 34rem;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1.5rem;
}

.news-block .top-news .burger-news {
    margin: auto;
    width: 2.5rem;
}

.news-block .top-news .burger-news span {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background: #fff;
    border-radius: 1rem;
}

.news-block .top-news .burger-news span:last-child {
    margin-top: 0.4rem;
}

.news-block .top-news .news-title {
    font-family: Proxima Nova;
    font-weight: bold;
    line-height: 157.2%;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #ffffff;
}

.news-block .hidden-block {
    transform: scaleY(0) translateY(-100%);
    transition: 1s;
    opacity: 0;
    position: absolute;
}

.news-block .exectly-news .slick-arrows button {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 50%;
    width: 6rem;
    outline: none;
}

.news-block .exectly-news .slick-arrows button img {
    max-width: 100%;
}

.news-block .exectly-news .slick-arrows button.next {
    top: -5rem;
}

.news-block .exectly-news .slick-arrows button.prev {
    bottom: -5rem;
}

.news-block .news-slider {
    width: 55rem;
}

.news-block .news-slider .news-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news-block .news-slider .news-slide .date {
    margin-right: 3rem;
}

.news-block .news-slider .news-slide .date span {
    display: block;
    color: #ffffff;
    font-family: "Proxima Nova";
}

.news-block .news-slider .news-slide .date span.number {
    font-weight: bold;
    font-size: 5.5rem;
    margin-top: -1rem;
}

.news-block .news-slider .news-slide .date span.mounth {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: -1rem;
}

.news-block .news-slider .news-slide .date span.small-date {
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.news-block .news-slider .news-slide .new-content {
    width: 43rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 3rem;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.news-block .news-slider .news-slide .new-content h5 {
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: 0;
    text-transform: uppercase;
    color: #ffffff;
}

.news-block .news-slider .news-slide .new-content p {
    margin-top: -2rem;
    font-family: Proxima Nova;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 135.7%;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 0;
}

.news-block.active {
    background: url(../img/big-news-bg.svg) top center no-repeat;
    width: 100vw;
    bottom: -1.7rem;
    min-height: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news-block.active .hidden-block {
    opacity: 1;
    position: relative;
}

.news-block.active .exectly-news {
    transform: translateX(-300%);
}

.news-block.active .banner-block {
    transform: translateX(300%);
}

.news-block.active .top-news {
    bottom: 2rem;
}

.news-block.active .top-news .burger-news {
    padding-top: 1rem;
}

.news-block.active .top-news .burger-news span {
    height: 1px;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.news-block.active .top-news .burger-news span:first-child {
    /* margin-left: -0.1rem; */
    margin-bottom: -0.6rem;
}

.news-block.active .top-news .burger-news span:last-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.news-block.active .banner-block {
    margin-left: 15rem;
}

.news-block .banner-block img {
    -webkit-box-shadow: 0px 2.2rem 2.2rem rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2.2rem 2.2rem rgba(0, 0, 0, 0.45);
    width: 37rem;
    height: 16rem;
}

@-webkit-keyframes map-point {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes map-point {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.contacts:hover .call-number {
    background-color: rgb(176, 186, 194);
    font-family: "Wiguru";
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: normal;
    font-size: 1.5vw;
    left: 0;
    top: -3px;
}

@media (max-width: 1800px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1600px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1400px) {
    .contacts:hover .call-number {
        font-size: 1.3vw;
        top: -1px;
    }
}

@media screen and (min-width: 1700px) {
    .contacts:hover .call-number {
        font-size: 1.2vw;
        top: -1px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 6px;
    }
}

.contacts {
    min-width: 131px;
    position: relative;
}

.contacts-text:hover {
    margin: 0 6.5px;
    width: 100%;
}

.contacts:hover .contacts-icon {
    visibility: hidden;
}

.contacts:hover .work-time {
    visibility: hidden;
}

.font-default {
    font-family: "Proxima Nova";
}


/* Featured Images */


/* Texts */

.col-text {
    width: 52%;
}


/* Download Center */

.download-center .in-menu a:hover,
.download-center .in-menu a.active {
    position: static;
}

.download-center ul {
    display: flex;
    justify-content: space-between;
}

.download-center ul .title-ul {
    /* margin-left: 1em; */
    padding-top: 1em;
}

.download-center .in-menu .col-lg-4 .one-ul {
    position: relative;
}

.download-center .in-menu .col-lg-4 ul .title-ul a::after {
    content: "";
    display: block !important;
    position: absolute;
    width: 70%;
    left: initial;
    bottom: initial;
    height: 0;
    margin-top: 5px;
    border-bottom: 1px solid #ff6400;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
    align-self: flex-start;
}


/* //map point images */

.map-point-images {
    position: relative;
}


/* //map points */

.point-2 .map-point-logo {
    top: -18%;
    right: 62%;
    width: 7vw;
}

.point-3 .map-point-logo {
    width: 4.2vw;
    top: -4%;
    right: 60%;
}

.point-4 .map-point-logo {
    width: 3.2vw;
    top: 8%;
    left: -59%;
}

.point-5 .map-point-logo {
    width: 9.5vw;
    top: -16%;
    left: 46%;
}

.point-6 .map-point-logo {
    width: 2.6vw;
    right: 68%;
    top: -12%;
}

.point-7 .map-point-logo {
    right: 61%;
    top: 0%;
    width: 7.2vw;
}

.point-9 .map-point-logo {
    top: -10%;
    right: 58%;
    width: 6.3vw;
}

.point-10 .map-point-logo {
    top: -80%;
    left: 35%;
    width: 7vw;
}

.point-11 .map-point-logo {
    top: -11%;
    left: 60%;
    width: 4.5vw;
}

.point-12 .map-point-logo {
    top: -34%;
    right: 60%;
    width: 6.4vw;
}

.point-13 .map-point-logo {
    top: 40%;
    right: 65%;
}

.point-15 .map-point-logo {
    top: 6%;
    right: 48%;
    width: 8vw;
}

.point-16 .map-point-logo {
    top: -30%;
    left: 59%;
}

.point-18 .map-point-logo {
    top: -62%;
    left: 60%;
    /* width: 4vw; */
}

.point-19 .map-point-logo {
    left: 71%;
    top: -4%;
}

.point-20 .map-point-logo {
    width: 3vw;
    top: -9%;
    right: -55%;
}

.point-21 .map-point-logo {
    top: -30%;
    right: 51%;
    width: 7.6vw;
}

.point-22 .map-point-logo {
    width: 5vw;
    top: -14%;
    left: 78%;
}

.point-23 .map-point-logo {
    width: 7vw;
    top: 17%;
    right: 56%;
}

.point-24 .map-point-logo {
    top: -40%;
    right: 70%;
    width: 4.7vw;
}

.point-30 .map-point-logo {
    width: 2.4vw;
    top: -7%;
    right: 70%;
}

.point-32 .map-point-logo {
    width: 4vw;
    right: 77%;
    top: 9%;
}

.map-point:hover .hiden_text {
    display: block;
}

.map-point-icon {
    width: 1vw;
}

.map-point-logo {
    position: absolute;
    width: 6vw;
}

.map-point .text-more {
    line-height: 1.2;
    font-size: 0.9vw;
    width: 10vw;
    display: none;
    font-weight: bold;
    transition: 0.3s background-color;
    border-radius: 3px;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black, 2px -2px 5px black, -2px 2px 5px black;
}


/* //Our company */

.our-company .row {
    justify-content: space-evenly;
}

.our-company .in-menu a:hover,
.download-center .in-menu a:hover {
    border-bottom: 0 !important;
}

.download-center .in-menu .col-lg-4 ul .title-ul {
    border-bottom: 0;
}

.our-company .one-ul {
    position: relative;
}

.download-center header nav a:hover::after,
.download-center header nav a.active::after {
    content: none;
    height: auto;
    width: auto;
    background-color: transparent;
    display: none;
    position: static;
    left: 0;
    bottom: 0;
}

.our-company .in-menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ff6400;
}

.our-company .one-ul {
    margin-bottom: 1.6em;
}

.cursor-focus-highlight {
    background-color: #e37430;
}

nav .in-menu a:hover {
    text-decoration: underline !important;
}

.our-company .icon,
.download-center .icon {
    height: 50px;
    margin-left: 35px;
}

.our-company .col-lg-4 .one-ul .the-ul {
    flex: 2;
}


/* //Equipment menu */

.equipment-menu ul li {
    margin: 1em 0;
}

.equipment-wrapper .in-menu .col-lg-4 ul .title-ul {
    padding-bottom: 5px;
}

header .request-mobile {
    display: none;
}

.nav-mobile-toggle {
    display: none;
    border: 0;
    outline: none;
    margin: 0 1em;
    background-color: transparent;
}

.nav-mobile-toggle:focus {
    outline: none;
}

.burger {
    width: 50px;
    height: 35px;
    outline: none;
}

nav.visible {
    max-height: 800px;
    padding: 1.25em 0;
}

main .my-slider .my-slide .col-text h2.top-menu-open {
    margin-top: 4em;
}

.burger .line {
    display: block;
    width: 95%;
    margin: 0 auto 7px;
    background-color: #004679;
    height: 5px;
}

.client-map-btn {
    display: none;
}

header nav .nav-close-btn {
    position: absolute;
}

.nav-close-btn {
    display: none;
    border: none;
    background-color: transparent;
    outline: none;
}

header nav .nav-close-btn:hover,
header nav .nav-close-btn.active {
    position: absolute;
}

.text-mobile {
    display: none;
}


/* 1000 mw */

@media screen and (max-width: 1000px) {
    body,
    body * {
        cursor: initial;
    }
    .circle {
        display: none;
    }
    .cursor-wrapper {
        display: none;
    }
    .out-of-menu {
        display: none;
    }
    header {
        height: 68px;
        justify-content: space-between;
    }
    header .logo {
        margin-left: 5px;
    }
    header .request,
    header .search {
        display: none;
    }
    nav {
        max-height: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        transition: 0.5s all;
        top: 63px;
        left: 0;
        width: 100%;
        display: none;
        background-color: rgba(200, 212, 226, 0.93);
    }
    header nav a:hover,
    header nav a.active {
        position: static;
    }
    header nav a:hover::after,
    header nav a.active::after {
        display: none;
        position: static;
    }
    .in-menu {
        position: fixed;
        top: 58px;
    }
    .in-menu .container {
        position: fixed;
        left: 4%;
        height: 55vh;
        overflow: scroll;
    }
    .equipment-menu .row {
        flex-wrap: wrap;
    }
    .equipment-menu .col-lg-4 {
        width: 50%;
    }
    .in-menu .col-lg-4 ul li {
        line-height: 2;
    }
    .equipment-menu ul li {
        margin: 0.7em 0;
    }
    .news-block.active .top-news {
        bottom: 0;
        padding-bottom: 0;
    }
    .header-phone.open {
        position: static;
    }
    /* Text and images (slides) */
    .in-menu .col-lg-4 ul a {
        font-size: 2.5rem;
    }
    /* main .my-slider .my-slide.prev-sl, main .my-slider .my-slide.quite-prev-sl .dry-pic {
    transform: translate(0, 40%) scale(1.5);
  } */
    main .my-slider .my-slide h2 {
        line-height: 1.2;
    }
    .featured-images {
        width: 100%;
    }
    main .my-slider .my-slide .dry-pic {
        width: 200px;
        margin-left: -100px;
        left: 50%;
        top: 10%;
        right: auto;
    }
    main .my-slider .my-slide.sl-2 .dry-pic {
        margin-left: -100px;
    }
    main .my-slider .my-slide.sl-3 .dry-pic {
        width: 240px;
        margin-left: -120px;
    }
    main .my-slider .my-slide.sl-5 .dry-pic {
        width: 200px;
        margin-left: -100px;
        top: 0%;
    }
    main .my-slider .my-slide.sl-7 .dry-pic {
        top: 4%;
    }
    main .my-slider .my-slide.sl-8 .dry-pic {
        width: 200px;
        top: 3%;
    }
    main .my-slider .my-slide.sl-9 .dry-pic {
        width: 250px;
        margin-left: -125px;
    }
    main .my-slider .my-slide.sl-8 h2 {
        line-height: 1.2;
    }
    .my-slide .row {
        flex-direction: column;
    }
    .text-mobile {
        display: block;
        overflow-y: scroll;
        margin-right: 13px;
        margin-bottom: 0.5em;
    }
    .our--services {
        overflow: scroll;
        list-style: none;
        padding: 0;
        max-height: 60px;
    }
    .text-desktop {
        display: none;
    }
    main .my-slider .my-slide p {
        font-size: 0.875em;
        line-height: 1.3;
        max-height: 160px;
        padding-right: 16px;
        margin-bottom: 0;
        margin-top: 0;
        font-family: "PT Sans Caption";
        font-weight: 700;
        color: #d0d0d0;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-1 {
        width: 150px;
        margin-left: -75px;
        height: 155px;
        right: auto;
        left: 50%;
        top: 1%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
        width: 153px;
        margin-left: -77px;
        height: 80px;
        right: auto;
        left: 70%;
        top: -4%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
        width: 102.5px;
        margin-left: -51.25px;
        right: auto;
        left: 30%;
        top: -1%;
        height: 58.5px;
    }
    .col-text {
        width: 100%;
        order: 2;
        padding: 0;
    }
    main .my-slider .my-slide h2 {
        font-size: 22px;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    main .my-slider .my-slide p span {
        font-size: 17px;
        font-weight: 700;
    }
    main .my-slider .my-slide.sl-8 .our--services li {
        line-height: 1.4;
    }
    .nav-mobile-toggle {
        display: block;
    }
    .row-main {
        display: flex;
    }
    .highlight-white {
        top: -30%;
    }
    .soc-block {
        display: none;
    }
    .soc-visible {
        display: block;
    }
    main .map-block .point-15,
    main .map-block .point-19,
    main .map-block .point-22,
    main .map-block .point-20,
    main .map-block .point-16,
    main .map-block .point-21,
    main .map-block .point-10,
    .map-block .point-4,
    .map-block .point-32 {
        visibility: hidden;
    }
    .our-company .icon,
    .download-center .icon {
        margin-left: 0;
    }
    /* Client Map */
    #client-map {
        margin-bottom: 16px;
    }
    main .map-block {
        margin-bottom: 30px;
    }
    .mapp {
        top: 0;
    }
    main .map-block {
        left: 50%;
        opacity: 0;
        visibility: hidden;
        width: 115%;
        transition: 0.5s all;
        z-index: 109;
        background-color: #004e86;
    }
    .map-block.active {
        bottom: 12%;
        visibility: visible;
        opacity: 1;
    }
    main .map-block.zoom-1 {
        width: 150%;
    }
    main .map-block.zoom-2 {
        width: 200%;
    }
    main .map-block.zoom-3 {
        width: 250%;
    }
    main .map-block.zoom-1 .map-point {
        font-size: 1.81vw;
        margin-left: -2vw;
    }
    main .map-block.zoom-2 .map-point {
        font-size: 2.5vw;
        margin-left: -3vw;
    }
    main .map-block.zoom-3 .map-point {
        font-size: 3vw;
        margin-left: -4vw;
    }
    main .map-block.zoom-1 .map-point-icon {
        width: 2vw;
    }
    main .map-block.zoom-2 .map-point-icon {
        width: 3vw;
    }
    main .map-block.zoom-3 .map-point-icon {
        width: 4vw;
    }
    main .map-block.zoom-1 .shape-map {
        width: 4vw;
    }
    main .map-block.zoom-2 .shape-map {
        width: 5vw;
    }
    main .map-block.zoom-3 .shape-map {
        width: 6vw;
    }
    main .map-block.zoom-1 .hiden_text {
        font-size: 1.5vw;
    }
    main .map-block.zoom-2 .hiden_text {
        font-size: 2vw;
    }
    main .map-block.zoom-3 .hiden_text {
        font-size: 2.5vw;
    }
    .client-map-btn.active {
        display: block;
    }
    .client-map-btn.active::before {
        display: none;
    }
    main .map-block::before {
        content: "";
        display: inline-block;
        background: url(../img/top-news.png) center top no-repeat;
        position: absolute;
        top: 18%;
        background-size: 100% 50%;
        height: 153px;
        width: 100%;
    }
    .client-map-btn::before {
        content: "";
        display: inline-block;
        background: url(../img/top-news.png) center top no-repeat;
        background-size: auto;
        background-size: auto;
        position: absolute;
        top: 0%;
        background-size: 100% 50%;
        height: 173px;
        width: 370px;
        margin-left: -160px;
    }
    header .contacts-text .call-number {
        font-size: 1.8rem;
    }
    .swipe-area {
        position: fixed;
        z-index: 900;
    }
    .swipe-area-bottom {
        width: 200px;
        height: 90px;
        bottom: 20%;
        right: 0%;
    }
    /* Bottom widget */
    .news-block.active {
        background: #004e86;
        /* background: url(../img/big-news-bg.svg) top center no-repeat; */
    }
    .copyright-block {
        left: 2.4%;
    }
    .client-map-btn {
        display: block;
    }
    /* Social media */
    .soc-block {
        position: fixed;
        top: 75px;
        left: 10px;
    }
    .soc-icons {
        flex-direction: column;
        height: 162px;
        justify-content: space-around;
    }
    .soc-icons .fa-instagram {
        order: 5;
    }
    /* Copyright */
    .copyright-block {
        left: unset;
        right: 1%;
        text-align: center;
    }
    .copyright-block p {
        margin: 0;
    }
    .copyright-block p span {
        display: block;
    }
    .copyright-block .share-btn.active-btn {
        display: none;
    }
}


/* //media 768 mw */

@media screen and (max-width: 768px) {
    body {
        height: auto;
        overflow-y: visible;
    }
    main .content {
        height: calc(100vh - 68px);
    }
    .header .logo {
        width: 152px;
    }
    nav {
        top: 68px;
        line-height: normal;
    }
    .our-company .row {
        flex-direction: column;
        align-items: center;
    }
    .our-company .one-ul {
        margin-bottom: 0.5em;
    }
    /* download center */
    .download-center .row {
        flex-direction: column;
    }
    .download-center .col-lg-4 {
        width: 100%;
    }
    .our-company .col-lg-4 {
        width: 100%;
    }
    /* equipment menu */
    .equipment-menu .row {
        flex-direction: column;
        align-items: center;
    }
    .equipment-menu .col-lg-4 {
        width: 100%;
    }
    .equipment-menu ul li {
        margin: 0.2em 0;
    }
    main .my-slider .my-slide.sl-5 h2 {
        font-size: 3rem !important;
        line-height: 1.2;
    }
    .news-block.active {
        flex-direction: column;
    }
    .news-block.active .banner-block {
        margin: 0 auto;
        margin-top: 10px;
    }
    .news-block .banner-block img {
        width: 27rem;
        height: 12rem;
    }
    .slick-arrow {
        position: relative;
        z-index: 600;
    }
    .news-block .exectly-news .slick-arrows button.next {
        top: 5rem;
        left: -7rem;
        transform: rotate(-90deg);
    }
    .news-block .exectly-news .slick-arrows button.prev {
        bottom: 3rem;
        left: 50rem;
        transform: rotate(-90deg);
    }
    .news-block.active .exectly-news {
        margin-right: -30px;
    }
    .header-group {
        display: flex;
    }
    /* ==  Mobile navigation button & menu == */
    .burger .line {
        display: block;
        margin: 0 auto 7px;
        margin-right: initial;
        background-color: #004679;
        border-radius: 0px;
        height: 6.5px;
    }
    .burger .line:nth-of-type(1) {
        width: 86%;
    }
    .burger .line:nth-of-type(2) {
        width: 70%;
    }
    .burger .line:nth-of-type(3) {
        width: 43%;
    }
    .burger .line:last-of-type() {
        margin-bottom: 0;
    }
    header .contacts,
    header .highlight-container {
        display: none;
    }
    .header-search img {
        width: 35px;
        height: 33px;
    }
    .divider {
        height: 1px;
    }
    /* Mobile phone */
    .header-phone.open {
        position: relative;
        border: 1px solid #1948b2;
        padding: 3px 6px;
        border-radius: 7px;
    }
    .header-phone .call-btn {
        background-color: #1948b3;
        border-radius: 50%;
        outline: none;
        display: inline-block;
        line-height: 1;
        padding: 10px 10px;
    }
    .header-phone .work-time {
        line-height: 0;
        margin-top: 10px;
    }
    .header-phone .call-number {
        color: white;
        font-weight: bold;
        font-size: 11.5px;
        text-transform: uppercase;
        font-family: Proxima Nova;
    }
    .header-phone .contacts-text {
        display: none;
        vertical-align: middle;
        margin-left: 0;
    }
    .header-phone.open .contacts-text {
        display: inline-block;
    }
    .header-phone img {
        width: 17px;
        height: 17px;
        vertical-align: middle;
    }
    .header-phone .work-time,
    .header-phone .contacts-text .call-number {
        font-size: 0.72em;
    }
    .contacts-text:hover {
        margin: 0;
        width: auto;
    }
    /* Slides */
    main .my-slider .my-slide .blur {
        display: inline-block;
        max-width: 145px;
        height: 32px;
        width: 100%;
        margin-top: 1.3rem;
        position: relative;
    }
    main .my-slider .my-slide .more {
        display: inline-block;
        height: 32px;
        vertical-align: middle;
        padding: 6px 0;
        font-size: 14px;
        font-weight: bold;
    }
}


/* 650 mw */

@media screen and (max-width: 650px) {
    .header-phone.open {
        right: 40px;
    }
    header nav a {
        font-size: 20px;
        margin-left: 0;
    }
    .in-menu {
        top: 17%;
    }
    .in-menu .col-lg-4 .one-ul .the-ul {
        padding-top: 0.7em;
    }
    .equipment-menu .in-menu .col-lg-4 .title-ul a {
        color: #ff6500;
        font-family: "Franklin Gothic Heavy";
        font-size: 16px;
    }
    .in-menu .container {
        padding: 0.9em 0;
    }
    .equipment-filtration-icon {
        width: 53px;
        height: 32px;
    }
    .equipment-menu .in-menu .container {
        padding-bottom: 3.8rem;
    }
    main .map-block .map-point.point-4 {
        top: 19rem;
        margin-left: 92.7rem;
    }
    nav {
        flex-direction: column;
    }
    nav .nav-close-btn {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0.9em 1.25em;
        outline: none;
    }
    header nav .nav-close-btn:hover::after {
        display: none;
    }
    .nav-close-btn span {
        height: 1px;
        display: inline-block;
        background-color: white;
        width: 13.5px;
    }
    .nav-close-btn span:first-of-type {
        transform: rotate(45deg);
    }
    .nav-close-btn span:nth-of-type(2) {
        transform: rotate(-45deg);
    }
    header .request-mobile {
        display: block;
    }
    nav .request {
        font-size: 12px;
        width: 145px;
        height: 32px;
        margin-top: 0.5em;
    }
    nav .equipment-wrapper {
        margin-bottom: 0.7em;
    }
    .transparent-border::before,
    .transparent-border::after {
        background: rgb(185, 203, 223);
        left: 10%;
        width: 80%;
    }
}


/* 600 media */

@media screen and (max-width: 600px) {
    main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
        left: 80%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
        left: 20%;
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 420px) {
    main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
        left: 90%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
        left: 18%;
    }
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
    main .my-slider .my-slide p {
        max-height: 80px;
    }
}

@media screen and (max-width: 600px) and (max-height: 700px) {
    .col-text {
        margin-top: -10px;
        margin-bottom: 0.1em;
        font-size: 14px;
    }
    main .my-slider .my-slide p {
        max-height: 90px;
    }
    main .my-slider .my-slide p span {
        font-size: 15px;
    }
}

@media screen and (min-width: 550px) and (min-height: 600px) and (max-width: 1000px) {
    main .my-slider .my-slide p {
        max-height: 160px;
    }
}

@media screen and (min-width: 550px) and (min-height: 800px) {
    main .my-slider .my-slide p {
        max-height: 260px;
    }
}

@media screen and (min-width: 550px) and (min-height: 900px) {
    main .my-slider .my-slide p {
        max-height: 460px;
    }
}

@media screen and (max-height: 375px) {
    main .my-slider .my-slide h2 {
        font-size: 18px;
    }
    main .my-slider .my-slide p {
        font-size: 0.675em;
    }
    main .my-slider .my-slide p span {
        font-size: 11px;
    }
    main .my-slider .my-slide p {
        max-height: 60px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1000px) and (max-height: 600px) {}

@media screen and (max-width: 365px) {
    .header-search {
        margin-right: 0;
    }
    .featured-images {
        height: 115px;
    }
    main .my-slider .my-slide .featured-images .dry-pic {
        width: 133px;
        top: 8%;
        left: 50%;
        margin-left: -66px;
    }
    main .my-slider .my-slide.sl-8 .dry-pic {
        top: 13%;
    }
    .col-text {
        display: flex;
        width: auto;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 20px;
    }
    .text-mobile {
        margin-right: 0;
    }
    main .my-slider .my-slide p {
        max-height: 60px;
    }
    .col-text .blur {
        margin-right: 8%;
        order: -1;
        left: 0;
        margin-bottom: 0.5em;
    }
    .sl-3 .col-text .blur,
    .sl-2 .col-text .blur {
        left: 20px;
    }
    main .my-slider .my-slide h2 {
        width: 93%;
        font-size: 20px;
    }
    main .my-slider .my-slide.sl-8 .our--services li p {
        width: 85%;
    }
    /* Main slide */
    main .my-slider .my-slide.sl-1 .dry-pic.pic-1 {
        width: 100px;
        margin-left: -50px;
        height: auto;
        right: auto;
        left: 55%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
        width: 100px;
        margin-left: -50px;
        height: auto;
        right: auto;
        left: 90%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
        width: 68px;
        margin-left: -35px;
        right: auto;
        left: 30%;
        top: -1%;
        height: auto;
    }
    .soc-block {
        top: 72px;
    }
    .soc-icons {
        height: 120px;
    }
}


/* Small screen. Move header to right sidepanel */

@media screen and (max-height: 600px) and (max-width: 1000px) and (orientation: landscape) {
    #page {
        flex-direction: row;
    }
    header {
        width: 70px;
        flex-direction: column;
        order: 2;
        height: auto;
        justify-content: flex-start;
        position: relative;
    }
    .header-logo {
        order: 3;
        margin-top: 30px;
    }
    .header-logo img {
        width: 70px;
    }
    .header-search {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .header-search.open {
        background-color: rgb(0, 78, 134);
        color: white;
        position: absolute;
        top: -3px;
        right: 60px;
    }
    .header-group {
        display: block;
        transform: translate(0, 0);
        width: 39px;
        margin-left: 0.5em;
    }
    .header-phone .call-btn {
        background-color: #1948b3;
        border-radius: 50%;
        outline: none;
        display: inline-block;
        line-height: 1;
        padding: 10px 10px;
    }
    .header-phone img {
        width: 17px;
        height: 17px;
        vertical-align: middle;
    }
    .header-phone .contacts-text {
        display: none;
        vertical-align: middle;
        margin-left: 0;
    }
    header .contacts,
    header .highlight-container {
        display: none;
    }
    .nav-mobile-toggle {
        order: -1;
        margin: 10px 0 30px;
    }
    nav {
        position: fixed;
        width: calc(100% - 70px);
        top: 0;
    }
    .header-phone.open {
        width: 165px;
        background-color: rgb(0, 78, 134);
        top: 43px;
        right: 60px;
        text-align: center;
        position: fixed;
        border: 1px solid #1948b2;
        padding: 3px 6px;
        border-radius: 7px;
    }
    .header-phone.open .contacts-text {
        display: block;
    }
    .header-phone .work-time,
    .header-phone .contacts-text .call-number {
        font-size: 0.72em;
    }
    .header-phone .work-time {
        line-height: 0;
        margin-top: 10px;
    }
    main .content {
        height: 100vh;
        width: calc(100vw - 70px);
    }
    .header-phone .call-number {
        color: white;
        font-weight: bold;
        font-size: 11.5px;
        text-transform: uppercase;
        font-family: Proxima Nova;
    }
    .in-menu .container {
        left: 0;
        position: fixed;
        width: 90% !important;
    }
    .soc-block {
        top: 3px;
    }
    .content {
        height: 100vh;
    }
    .my-slide .row {
        flex-direction: row;
    }
    .col-text {
        width: 75%;
        order: initial;
        margin-top: 0.5em;
        margin-left: 25px;
    }
    .featured-images {
        width: 50%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-1 {
        left: 55%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-2 {
        left: 100%;
        top: -4%;
    }
    main .my-slider .my-slide.sl-1 .dry-pic.pic-3 {
        left: 20%;
    }
    .bottom-widget {
        width: calc(100vw - 70px);
        bottom: 4%;
        left: auto;
        right: auto;
    }
    #circleslider3 {
        left: calc(50% - 35px);
    }
    .news-block.active {
        width: calc(100vw - 70px);
        bottom: 0;
    }
}