@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Regular.ttf) format('truetype'), url(../fonts/ProximaNova-Regular.woff) format('woff'), url(../fonts/ProximaNova-Regular.woff2) format('woff2'), url(../fonts/ProximaNova-Regular.eot) format('eot');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Bold.ttf) format('truetype'), url(../fonts/ProximaNova-Bold.woff) format('woff'), url(../fonts/ProximaNova-Regular.woff2) format('woff2'), url(../fonts/ProximaNova-Bold.eot) format('eot');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Light.ttf) format('truetype'), url(../fonts/ProximaNova-Light.woff) format('woff'), url(../fonts/ProximaNova-Light.woff2) format('woff2'), url(../fonts/ProximaNova-Light.eot) format('eot');
    font-style: normal;
    font-weight: 600;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    line-height: 1.6;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

h1, h2, h3 {
    margin-top: 0;
    color: white;
    text-align: center;
}

h2, h3 {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

main {
    background: rgb(0, 78, 134);
}

.container {
    width: 90%;
    margin: 0 auto;
}

section {
    border-bottom: 3px solid #2E99E3;
    padding-bottom: 3.5em;
}

section h2 {
    margin-top: 0.7em;
}

#page {
    max-width: 1530px;
}

.page-title {
    text-align: center;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.page-subtitle {
    max-width: 460px;
    margin-bottom: 3em;
    border-left: 3px solid #B2D0E4;
    padding-left: 1em;
    border-radius: 2px;
}

/* Intro */

section#intro {
    border: none;
    margin-bottom: 2em;
    padding: 1em 0;
}

.intro-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page-subtitle {
    font-size: 1.1rem;
}

.intro-certificate {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

#intro .certificate-text {
    color: rgba(255, 255, 255, 0.6);
    order: 1;
    text-align: center;
    padding: 0 1.5em;
    margin-top: 0.3em;
    font-size: 0.9rem;
    font-weight: 700;
}

#intro .certificate-slider {
    position: relative;
}

.slider .slider-btn {
    position: absolute;
    top: calc(50% - 14px);
    width: 25px;
    height: 25px;
    background-color: #0D5F98;
    border: 1px solid #449FdE;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    z-index: 2;
}

.slider .previous {
    left: -4px;
    background-image: url(../images/icons/arrow-right.png);
}

.slider .next {
    right: -3px;
    background-image: url(../images/icons/arrow-left.png);
}

.box {
    padding: 1em;
    margin: 0.6em;
    position: relative;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
}

.box::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, white 15%, transparent 35%, transparent 65%, white 100%);
}

.box::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, white 15%, transparent 35%, transparent 65%, white 100%);
}

/* Welding */

#welding {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

#welding::after {
    content: "";
    clear: both;
    display: block;
}

#welding .box {
    margin: 0 auto 2em auto;
    padding-bottom: 0.6em;
}

.welding-text {
    max-width: 630px;
    margin: 0 auto;
}

.welding-text p {
    margin-bottom: 2.5em;
    margin-top: 0;
}

.welding-steps {
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    font-size: 0.9rem;
}

.welding-step-text {
    margin-top: 0;
}

.welding-step-number {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

/* Personel */

#personel .slider {
    position: relative;
    /* width: 36%; */
}

#personel .personel-description .slider .previous {
    left: -14px;
}

#personel .personel-description .slider .next {
    right: -3px;
}


#personel .personel-description .slider {
    /* width: 32.4%; */
    width: 273px;
}

.personel-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.personel-image {
    padding: 1em;
    border: 1px solid white;
    border-radius: 50%;
    /* max-width: 217px; */
    max-width: initial;
    width: calc(275px - 1em);
}

.personel-text span {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.personel-certificates {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.personel-certificate {
    max-width: 300px;
    margin: 0 auto;
}

#personel .certificate-images {
    position: relative;
}

#personel .certificate-text {
    margin-top: 0;
    padding: 0 0.5em;
}

/* Carcas Fittings */

.carcas-fittings-container {
    display: flex;
    flex-direction: column;
}

#carcas-fittings .carcas-text {
    margin-bottom: 2em;
}

#carcas-fittings .carcas-text span {
    color: white;
    font-weight: 700;
}

#carcas-fittings .carcas-image {
    order: -1;
    border-radius: 50%;
    width: 260px;
    padding: 1em;
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#carcas-fittings .slider {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#carcas-fittings .slider-btn {
    top: 44%;
}

#carcas-fittings .previous {
    left: 10px;
}

#carcas-fittings .next {
    right: 10px;
}

/* Carcas coating */

.carcas-coating .box {
    max-width: 250px;
    margin: 2em auto;
}

#carcas-coating span {
    color: white;
    font-weight: 700;
}

.carcas-coating {
    margin-bottom: 3.5em;
}

.carcas-packaging-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carcas-packaging-text {
    max-width: 530px;
    margin: 0 auto 2em auto;
}

/* Carcas specs */

#carcas-specs {
    margin-bottom: 0;
    padding-bottom: 4em;
    border: none;
}

.carcas-specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carcas-spec {
    width: 100%;
    max-width: 490px;
    border: 2px solid #2c8dcf;
    padding: 1em;
    margin: 1em;
}

.carcas-spec h3 {
    text-align: left;
}

.carcas-spec li {
    margin: 0.7em 0;
}

#carcas-specs .box {
    max-width: 725px;
    margin: 0.6em auto;
}

.carcas-spec li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #E37430;
    margin-right: 1em;
}

#carcas-specs .slider {
    position: relative;
    margin-bottom: 2em;
}

#carcas-specs .previous {
    left: -13px;
}

#carcas-specs .next {
    right: -13px;
}

@media screen and (min-width: 650px) {
    html {
        font-size: 14px;
    }
    main {
        background: radial-gradient(50% 50% at 50% 50%, #016DB6 0%, #004E86 100%);
    }
    .page-subtitle {
        font-size: 1rem;
    }
    .personel-description {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .personel-image {
        width: 273px;
    }
    #personel .personel-description .slider .next {
        right: -14px;
    }
    .personel-text {
        margin-left: 2em;
    }
    .personel-certificates {
        max-width: 600px;
    }
    .carcas-packaging-images {
        flex-direction: row;
    }
    .carcas-packaging-images .box {
        margin: 1em;
    }
}

@media screen and (min-width: 800px) {
    #welding {
        display: block;
    }
    #welding .box {
        width: 35%;
        float: left;
    }
    .welding-text {
        max-width: initial;
        width: 63%;
        margin-right: 0;
        margin-left: auto;
    }
    .welding-text p {
        padding-left: 2.5em;
    }
    .welding-step {
        margin: 1em 1em;
    }
    .welding-step:first-of-type {
        margin-left: 0;
    }
    .welding-steps {
        display: flex;
        width: 100%;
        max-width: initial;
        text-align: left;
    }
    .carcas-specs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }
    .carcas-spec {
        width: 40%;
        margin: 1em;
    }
    /* .personel-image {
        width: 100%;
    } */
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    section {
        margin-bottom: 1.4em;
        padding-top: 2em;
    }
    section h2 {
        margin-top: 0;
    }
    .container {
        max-width: 1200px;
    }

    section#intro {
        margin-bottom: 5.25rem;
    }

    .intro-group {
        flex-direction: row;
    }
    .page-subtitle {
        align-self: flex-start;
        width: 52%;
        font-size: 1.2rem;
        max-width: initial;
    }
    .intro-certificate {
        position: relative;
        margin: 0;
        width: 350px;
    }
    #intro .certificate-text {
        position: absolute;
        bottom: 0;
        left: -62%;
        padding-bottom: 1em;
        text-align: right;
        font-weight: 400;
    }
    .page-title {
        text-align: left;
        font-size: 2.5rem;
    }
    .welding-text p {
        margin-bottom: 0;
    }



    /* carcas fittings */
    .carcas-fittings-container {
        flex-direction: row;
        justify-content: space-between;
    }
    #carcas-fittings .slider {
        align-self: flex-start;
        width: 370px;
        margin: 0;
    }
    #carcas-fittings .carcas-image {
        width: 334px;
        max-width: initial;
    }
    #carcas-fittings .carcas-text {
        width: 55%;
    }
    .carcas-coating {
        display: flex;
        justify-content: space-between;
    }
    .carcas-coating p {
        width: 45%;
    }
    .carcas-packaging {
        justify-content: space-between;
    }
    .carcas-packaging-group {
        display: flex;
        justify-content: space-between;
    }
    .carcas-packaging-text {
        width: 34%;
        max-width: 400px;
        margin: 0;
    }
    .carcas-packaging-images {
        width: 62%;
    }
}

@media screen and (min-width: 1200px) {
    .page-subtitle {
        font-size: 1.4rem;
    }
    #welding .box {
        width: 32%;
    }
    .welding-text {
        font-size: 0.9rem;
    }
    .welding-text p {
        padding-left: 0;
    }
    .welding-steps {
        width: 63%;
        margin-right: 0;
        font-size: 0.75rem;
    }
    .personel-group {
        display: flex;
    }
    .personel-description {
        width: 60%;
    }
    .personel-certificates {
        width: 40%;
        margin-left: 1em;
    }
    #personel .certificate-text {
        font-size: 0.8rem;
    }
    .personel-text p:first-of-type {
        margin-bottom: 2.5em;
    }
}

@media screen and (min-width:1300px) {
    .carcas-spec {
        width: 26%;
        padding: 2em;
    }
}

@media screen and (min-width:1600px) {
    section {
        padding-top: 3em;
    }
    .slider .slider-btn {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
    }
    .slider .previous {
        left: -14px;
    }
    .slider .next {
        right: -14px;
    }
    .page-title {
        font-size: 2.75rem;
        margin-bottom: 1.1em;
    }
    .page-subtitle {
        font-size: 1.875rem;
        padding-left: 1.5em;
        margin-top: 0;
        border-width: 5px;
        border-radius: 5px;
        max-width: 746px;
    }
    .intro-certificate {
        width: 350px;
    }
    #intro .certificate-text {
        font-size: 1rem;
        left: -69%;
    }
    #welding .box {
        width: 446px;
        height: 263px;
        margin-right: 2.5em;
    }
    .welding-text {
        font-size: 1.25rem;
        margin: 0;
        width: 100%;
    }
    .welding-steps {
        font-size: 1rem;
        margin: 0;
        width: auto;
    }
    .welding-step-number {
        font-size: 1.5em;
    }



    #personel .personel-description .slider .previous {
        left: -1.2em;
    }
    
    #personel .personel-description .slider .next {
        right: -1.2em;
    }

    .personel-text {
        font-size: 1.25rem;
    }
    .personel-certificates {
        font-size: 1rem;
    }
    #carcas-fittings .carcas-text {
        font-size: 1.25rem;
    }
    #carcas-coating {
        font-size: 1.25rem;
    }
    .carcas-packaging-text {
        max-width: initial;
    }
}