/* Typography */

html {
    font-size: 0.75em;
}

body * {
    cursor: none;
}

body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: white;
    font-size: 100%;
    letter-spacing: 0.5px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}

p {
    font-size: 1.1rem;
}

input {
    font-size: 2rem;
}

/* Global */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(0, 78, 134);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: none;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1540px;
    margin: 0 auto;
}

.blur {
    display: inline-block;
    position: relative;
}

.blur:hover img, .blur:focus img {
    opacity: 1;
}

.blur img {
    width: 161px;
    max-width: initial;
    left: -11px;
    top: -10px;
    height: 43px;
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
}

.fancy-border {
    padding: 0.5em 2em;
    position: relative;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
}

.fancy-border::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 15%, transparent 85%, white 100%);
}

.fancy-border::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 15%, transparent 85%, white 100%);
}

.active {
    color: #ff6400;
}

/* ====== Content ======= */

/* Main content */

main {
    padding: 1em 0;
    /* height: calc(100vh - 68px); */
}

.page-title {
    text-align: center;
}

#news {
    position: relative;
    margin-bottom: 3em;
}

.slider-container, .row {
    max-width: 330px;
    margin: 0 auto;
}

#news .slider-btn {
    display: none;
}

.news-item {
    margin: 1em 0;
    max-width: 330px;
}

.img-container {
    position: relative;
    margin: 0 auto;
}

.img-container img {
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    width: 100%;
}

.img-container .date {
    position: absolute;
    left: 5%;
    bottom: 8%;
    padding: 0.5em 1em;
    background-color: #ff6400;
    border-radius: 25px;
}

.news-item p {
    color: #eff4f8;
}

.news-item p span {
    color: white;
    font-weight: 700;
}

.news-item .details {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5em 3.6em;
    color: #eff4f8;
}

.row {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto;
}

.soc-block {
    max-width: 225px;
    margin: 0 auto;
}

.soc-icons {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.soc-icons i {
    font-size: 1.5rem;
}

.copyright-block .blur img {
    width: 21em;
    left: -1.15em;
    top: -1em;
    height: 4.6em;
}

.copyright-block .share {
    font-size: 1.2rem;
    font-family: 'Myriad Pro';
    /* padding: 0.6em 5em; */
    padding: 0.46em 5.25em;
    color: white;
}

.copyright-block p {
    font-size: 0.9rem;
}

/* Pagination */

#pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    order: -1;
    margin-bottom: 2em;
}

#pagination button {
    padding: 0.2em 2em;
    color: white;
}

.page-number {
    display: inline-block;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 0.3em;
}

.page-number.current {
    font-size: 1.7rem;
    color: #ff6400;
}

.news-total {
    color: #b0bac2;
    text-align: center;
    font-size: 0.9rem;
    width: 40%;
    margin: 0 auto;
    margin-top: 1em;
}

.copyright-block p {
    text-align: center;
}



@media screen and (min-width: 800px) {
    .slider-container {
        max-width: 700px;
    }
    .news-item {
        margin-left: 0.62em;
        margin-right: 0.62em;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 96%;
    }

    html {
        font-size: 0.875em;
    }
    .blur img {
        width: 182px;
        height: 48px;
    }
    main {
        background: radial-gradient(50% 50% at 50% 50%, #016DB6 0%, #004E86 100%);
        padding-top: 3vh;
    }
    .page-title {
        text-align: left;
        font-size: 2.3rem;
        margin-bottom: 2vh;
        margin-left: 0.78vw;
    }
    #news {
        margin-bottom: 7vh;
        right: 0.78vw;
    }
    .slider-container, .row {
        /* max-width: 1110px; */
        max-width: initial;
    }
    #news .slider-btn {
        position: absolute;
        display: block;
        top: calc(50% - 40px);
    }
    #news .previous {
        left: -0.8%;
    }
    #news .next {
        right: -1.5%;
    }
    #news ul {
        width: auto;
    }
    .news-item {
        margin: 1px 0 1px 1.56vw;
        /* margin-left: 1.56vw; */
        max-width: initial;
    }
    .row {
        flex-direction: row;
        width: auto;
        max-width: initial;
    }
    #pagination {
        order: 1;
        justify-self: center;
        align-self: flex-start;
        width: 54%;
        margin: 0 auto;
    }
    #pagination button {
        padding: 0em 2.6em;
        margin: 2px 0;
        color: white;
        font-weight: 700;
    }
    .news-total {
        width: auto;
        margin-left: 3em;
        padding-bottom: 0.7em;
    }
    .page-number {
        margin: 0 0.78em;
    }
    .soc-block {
        text-align: left;
    }
    .copyright-block .blur {
        font-size: 0.84rem;
    }
    .copyright-block .share {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        width: 92%;
    }
    #news .previous {
        left: -2%;
    }
    #news .next {
        right: -2.5%;
    }
}



@media screen and (min-width: 1600px) {
    main {
        padding-top: 7vh;
    }

    .page-title {
        font-size: 44px;
        margin-bottom: 5vh;
    }
    h2 {
        font-size: 19px;
    }
    #news .previous {
        left: -1.4%;
    }

    #news .next {
        right: -3%;
    }
    .news-item p {
        font-size: 18px;
    }
    .news-item .details {
        font-size: 14px;
    }
}