/* Examples - Tiny Circleslider */

#circleslider1 {
    height: 300px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#circleslider1 .viewport {
    height: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

#circleslider1 .overview {
    position: absolute;
    width: 798px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#circleslider1 .overview li {
    height: 300px;
    width: 300px;
    float: left;
    position: relative;
}

#circleslider1 .overlay {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    left: -10%;
    bottom: -256%;
    height: 300%;
    width: 120%;
}

#circleslider1 .thumb {
    background: #E37430;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    cursor: pointer;
    left: 137px;
    width: 15px;
    z-index: 200;
    height: 15px;
}

#circleslider1 .dot {
    background: url(../images/bg-dot2.png) no-repeat 0 0;
    display: block;
    height: 12px;
    width: 12px;
    position: absolute;
    left: 155px;
    top: 3px;
    z-index: 100;
}

#circleslider1 .dot span {
    display: none;
}

#circleslider2 {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#circleslider2 .viewport {
    height: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

#circleslider2 .overview {
    position: absolute;
    width: 798px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#circleslider2 .overview li {
    height: 300px;
    width: 300px;
    float: left;
    position: relative;
}

#circleslider2 .overlay {
    background: url(../images/bg-rotatescroll.png) no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 300px;
}

#circleslider2 .thumb {
    background: url(../images/bg-thumb.png) no-repeat 50% 50%;
    position: absolute;
    top: -3px;
    cursor: pointer;
    left: 137px;
    width: 100px;
    z-index: 200;
    height: 100px;
}

#circleslider2 .dot {
    background: url(../images/bg-dot2.png) no-repeat 0 0;
    height: 12px;
    width: 12px;
    position: absolute;
    left: 155px;
    top: 3px;
    z-index: 100;
}

#circleslider3 {
    display: none;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    bottom: -1520px;
    left: 50%;
    height: 1662px;
    width: 1360px;
    opacity: 0;
    margin-left: -680px;
}

@media screen and (max-width: 1000px) {
    #circleslider3 {
        display: block;
    }
}

#circleslider3.active {
    opacity: 1;
}

#circleslider3 .viewport {
    height: 350px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

#circleslider3 .overview {
    /* background-color: #efefef; */
    position: absolute;
    width: 798px;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

#circleslider3 .overview li {
    height: 350px;
    width: 350px;
    margin: 0 20px 0 0;
    float: left;
    position: relative;
}

#circleslider3 .overlay {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    left: -10%;
    bottom: -232%;
    height: 300%;
    width: 120%;
}

#circleslider3 .thumb {
    background: #E37430;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    cursor: pointer;
    left: 137px;
    width: 15px;
    z-index: 200;
    height: 15px;
}

#circleslider3 .dot {
    position: absolute;
    left: 47%;
    opacity: 0;
    align-items: center;
    top: 0%;
    cursor: none !important;
    -webkit-transform-origin: calc(100% - 5px) 50%;
    -moz-transform-origin: calc(100% - 5px) 50%;
    -o-transform-origin: calc(100% - 5px) 50%;
    -ms-transform-origin: calc(100% - 5px) 50%;
    transform-origin: calc(100% - 5px) 50%;
    -webkit-transition: 1.3s;
    transition: 1.3s;
    display: none;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    cursor: pointer;
    font-family: Proxima Nova;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgba(223, 145, 145, 0.3);
}

#circleslider3 .dot-icon {
    width: 20px;
    height: 20px;
}

#circleslider3 .dot-name {
    line-height: normal;
    text-align: center;
    order: 2;
    font-size: 12px;
    position: absolute;
    top: 20px;
    margin-top: 3px;
}

#circleslider3 .dot-icon {
    margin-top: 1px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.3;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

#circleslider3 .dot.active .dot-name{
    color: white;
}

#circleslider3 .dot.active .dot-icon {
    background-color: #E37430;
    border: 1px solid white;
    opacity: 1;
}

#circleslider3 .dot .after {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.3;
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

#circleslider3 .dot span {
    cursor: pointer;
}

/* #circleslider3 .dot-1 {
    top: 0.5%;
    left: 38.4%;
}

#circleslider3 .dot-2 {
    top: -0.7%;
    left: 49.3%;
}

#circleslider3 .dot-3 {
    top: 0.3%;
    left: 59%;
} */

#circleslider4 .dot-1 {
    background: url(../images/example-dot-3.png) no-repeat 0 0;
    width: 95px;
    height: 73px;
    margin: 10px 0 0;
}

#circleslider4 .dot-2 {
    background: url(../images/example-dot-2.png) no-repeat 0 0;
    width: 82px;
    height: 83px;
}

#circleslider4 .dot-3 {
    background: url(../images/example-dot-1.png) no-repeat 0 0;
    width: 74px;
    height: 74px;
}

#circleslider4 .dot-4 {
    background: url(../images/example-dot-4.png) no-repeat 0 0;
    width: 61px;
    height: 71px;
}

#circleslider4 .dot-5 {
    background: url(../images/example-dot-5.png) no-repeat 0 0;
    width: 74px;
    height: 74px;
}

#circleslider4 .dot span {
    cursor: pointer;
}

.offscreen-left,
.offscreen-right {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.offscreen-left {
    left: -50px;
}

.offscreen-right {
    right: -50px;
}