<header>
    <div class="container header-container">
        <div class="header-logo">
            <img src="images/logo.png" alt="логотип компании" class="logo logo-navbar">
        </div>
        <nav>
            <button class="nav-close-btn">
                <img src="images/icons/nav-close-btn-icon.png" alt="иконка закрыть меню">
            </button>
            </a>
            <div class="equipment-wrapper our-company">
                <a href="#" class="equipment">КОМПАНИЯ</a>
                <div class="in-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/partnership.svg"
                                            alt="partnership icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ПРИЧИНЫ СОТРУДНИЧАТЬ С НАМИ</a>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/application-areas.svg"
                                            alt="application areas icon"></div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ОБЛАСТИ ПРИМЕНЕНИЯ</a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/manufacture1.svg"
                                            alt="manufacture icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="manufacture.html">ПРОИЗВОДСТВО</a></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/news.svg" alt="news icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="news.html">НОВОСТИ</a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/certificates.svg"
                                            alt="certificates icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ЛИЦЕНЗИИ И СЕРТИФИКАТЫ</a></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/vacancies.svg"
                                            alt="vacancies icon"></div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ВАКАНСИИ</a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equipment-wrapper equipment-menu">
                <a href="equipment.html" class="equipment">ОБОРУДОВАНИЕ</a>
                <div class="in-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic">
                                        <img src="images/nav-1.png" class="equipment-filtration-icon"
                                            alt="cиконка конвеера">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ФИЛЬТРАЦИЯ</a></div>
                                            <li><a href="#">Фильтр-прессы</a></li>
                                            <li><a href="#">Фильтры вакуумные ленточные</a></li>
                                            <li><a href="#">Дисковые вакуумные фильтры</a></li>
                                            <li><a href="#">Емкостные фильтры</a></li>
                                            <li><a href="#">Фильтр-прессы ленточные</a></li>
                                            <li><a href="#">Фильтровальные плиты LENSER</a></li>
                                            <li><a href="#">Фильтровальные ткани CLEAR EDGE и изделия из них</a>
                                                <ul class="bottom-addition">
                                                    <li><a href="#">Фильтровальные салфетки для
                                                            фильтр-прессов</a>
                                                    </li>
                                                    <li><a href="#"><a href="#">Фильтровальные чехлы для
                                                                дисковых
                                                                вакуумных фильтров</a></li>
                                                    <li><a href="#">Сетки для жидкостной фильтрации</a></li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img src="images/nav-2.png" alt="" class="equipment-wrapper-icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">СУШИЛЬНЫЕ КОМПЛЕКСЫ</a></div>
                                            <li><a href="#">Барабанные сушилки</a></li>
                                            <li><a href="#">Теплогенераторы для сушильных комплексов и печных
                                                    установок</a></li>
                                            <li><a href="#">Тягодутьевое оборудование</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="one-ul">
                                    <div class="pic"><img src="images/nav-3.png" alt="" class="equipment-wrapper-icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ТЕПЛОМАССООБМЕННОЕ
                                                    ОБОРУДОВАНИЕ</a>
                                            </div>
                                            <li><a href="#">Печи с вращающимися барабанами</a></li>
                                            <li><a href="#">Барабанные сушилки и печи косвенного нагрева</a>
                                            </li>
                                            <li><a href="#">Холодильники барабанные</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img src="images/nav-4.png" alt="" class="equipment-wrapper-icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="#">ГАЗООЧИСТКА</a></div>
                                            <li><a href="#">Рукавные фильтры</a>
                                                <ul class="bottom-addition">
                                                    <li><a href="#">Производство каркасов рукавных фильтров</a>
                                                    </li>
                                                    <li><a href="#">Фильтровальные рукава (МЕШКИ)</a></li>
                                                </ul>
                                            </li>

                                            <li><a href="#">Электрофильтры</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equipment-wrapper services">
                <a href="#" class="equipment">сервис</a>
            </div>
            <div class="equipment-wrapper partners">
                <a href="#" class="equipment">ПАРТНЕРЫ</a>
            </div>
            <div class="equipment-wrapper projects">
                <a href="#" class="equipment"> ПРОЕКТЫ</a>
            </div>
            <div class="equipment-wrapper download-center">
                <a href="download-info.html" class="equipment">ЦЕНТР&nbsp;ЗАГРУЗКИ</a>
                <div class="in-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <img class="icon" src="images/icons/equipment-list.svg" alt="equipment list icon">
                                    <div class="the-ul">
                                        <ul class="flex">
                                            <div class="title-ul"><a href="catalog.html">КАТАЛОГИ ОБОРУДОВАНИЯ </a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic"><img class="icon" src="images/icons/presentation.svg"
                                            alt="presentation icon"></div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="presentations.html">ПРЕЗЕНТАЦИИ</a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="one-ul">
                                    <div class="pic">
                                        <img class="icon equipment-wrapper-icon" src="images/icons/survey-lists.svg"
                                            alt="survey list icon">
                                    </div>
                                    <div class="the-ul">
                                        <ul>
                                            <div class="title-ul"><a href="surveys.html">ОПРОСНЫЕ ЛИСТЫ</a></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equipment-wrapper contacts-menu">
                <a href="contacts.html" class="equipment">КОНТАКТЫ</a>
            </div>
            <div class="request-container blur">
                <img src="images/blur.png">
                <a href="http://progresskaz.gip-trans-group.kz/contacts-us" class="request transparent-border">Оставить&nbsp;заявку</a>
            </div>
        </nav>
        <div class="header-group">
            <div class="header-search transparent-border">
                <a href="#0" class="icon-search">
                    <img src="images/icons/icon-search.png" alt="search icon">
                </a>
                <input type="text" name="q" placeholder="ПОИСК" id="search-input" onblur="this.placeholder = 'ПОИСК'">
            </div>
            <div class="header-phone">
                <a href="#call" class="icon-phone">
                    <img src="images/call-icon.svg" alt="call icon">
                </a>
                <div class="contacts-text">
                    <p class="business-hours">пн-пт 9:00-18:00</p>
                    <a href="tel:+7-727-255-88-44" class="call-number">
                        <span class="font-default">+</span>
                        7 (727) 255 88 44</a>
                </div>
            </div>
        </div>
        
        <div class="request-container blur">
            <img src="images/blur.png">
            <button class="request transparent-border">Оставить&nbsp;заявку</button>
        </div>
        <a href="#0" class="nav-mobile-toggle" aria-haspopup="true" aria-expanded="false"
            aria-label="Sections Navigation">
            <div class="burger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </a>
        <div class="out-of-menu"></div>
    </div>
</header>